@font-face {
    font-family: 'Roboto-Light';
    src: url(/fonts/Roboto-Light.eot);
    src: url(/fonts/Roboto-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Light.woff) format('woff'),
    url(/fonts/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto-Regular.eot);
    src: url(/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Regular.woff) format('woff'),
    url(/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Light';
    src: url(/fonts/Manrope-Light.eot);
    src: url(/fonts/Manrope-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Light.woff) format('woff'),
    url(/fonts/Manrope-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url(/fonts/Manrope-Medium.eot);
    src: url(/fonts/Manrope-Medium.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Medium.woff) format('woff'),
    url(/fonts/Manrope-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url(/fonts/Manrope-Bold.eot);
    src: url(/fonts/Manrope-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Bold.woff) format('woff'),
    url(/fonts/Manrope-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Manrope-Medium';
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.wrap_header{
	position: relative;
	display: grid;
	grid-template-columns:10% 1fr 2fr repeat(5, 1fr) 7%;
	grid-column-gap:35px;
	margin-top:25px;
	justify-items:center;
	align-items:center;
}
.header_logo{
	width: 86px;
	height: 25px;
	grid-column:2/3;
}
.nav_header{
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
	color: #525252;
	font-family: 'Roboto-Regular';
	text-decoration:none;
}
.cosmeticMasks{
	margin-top:50px;
	position: relative;
	display: grid;
	grid-template-columns:10% 3fr 5fr 7%;
	grid-template-rows:250px 180px 100px;
	grid-column-gap:35px;
}
.masks_title{
	grid-column:2/4;
	grid-row:1/2;
	font-weight: 600;
	font-size: 40px;
	line-height: 65px;
	color: #242424;
}
.masks_subtitle{
	grid-column:2/4;
	grid-row:2/3;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
}
#masks_order{
	background: #00C187;
	border: 3px solid #00C187;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration:none;
	width: 170px;
	height: 70px;
	grid-column:2/3;
	grid-row:3/4;
	padding:10px 0;
	text-align:center;
	vertical-align: middle;
	margin-top:25px;
}
#masks_buy{
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #000000;
	text-decoration:underline;
	margin-left:230px;
	margin-top:35px;
	grid-column:2/4;
	grid-row:3/4;
}
#lottie-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  width: 167%;
  position: relative;
  left: -359px;
  z-index: -1;
  transition: 0.5s;
}
.wrap_rosee {
  grid-column: 2 / 3;
  display: flex;
  justify-content: start;
  width: 100%;
}
.every_p {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #242424;
  opacity: 0.2;
}
.order_bottom {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    opacity: 0.3;
    border: 3px solid #00c187;
    border-radius: 10px;
    width: 175px;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    fony-family: 'Manrope';
    top: -20px;
}
.buy_present {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  left: 226px;
  top: -73px;
}
.everyWeek {
  position: relative;
  grid-template-columns: 12% 1fr 1fr;
  display: grid;
}
.every_p2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  top: -27px;
}

.advantages{
	position: relative;
	margin-top:150px;
	display:grid;
	grid-template-columns:10% 1fr 1fr 7%;
	grid-column-gap:35px;
}
.advantages_shop{
	grid-column: 2/3;
	display:grid;
	grid-template-rows:420px repeat(7, 40px);
	grid-template-columns:30px 400px;
	grid-row-gap:20px;
}
.shop{
	width: 520px;
	height: 416px;
	opacity: 0.8;
	grid-row:1/2;
	grid-column:1/3;
}
.shop_title{
	grid-row:2/3;
	grid-column:1/3;
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	color: #161616;
}
.minus{
	width: 23px;
	height: 23px;
	margin-right:15px;
}
.shop_minus1{
	grid-column:1/2;
	grid-row:3/4;
	margin-top:30px;
}
.shop_minus2{
	grid-column:1/2;
	grid-row:4/5;
	margin-top:30px;
}
.shop_minus3{
	grid-column:1/2;
	grid-row:5/6;
	margin-top:30px;
}
.shop_minus4{
	grid-column:1/2;
	grid-row:6/7;
	margin-top:30px;
}
.shop_minus5{
	grid-column:1/2;
	grid-row:7/8;
	margin-top:30px;
}
.shop_minus6{
	grid-column:1/2;
	grid-row:8/9;
	margin-top:30px;
}
.minus_text{
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	color:  #000000;
}
#text1{
	grid-column:2/3;
	grid-row:3/4;
}
#text2{
	grid-column:2/3;
	grid-row:4/5;
}
#text3{
	grid-column:2/3;
	grid-row:5/6;
}
#text4{
	grid-column:2/3;
	grid-row:6/7;
}
#text5{
	grid-column:2/3;
	grid-row:7/8;
}
#text6{
	grid-column:2/3;
	grid-row:8/9;
}
.our_advantages{
	grid-column: 3/4;
	display:grid;
	grid-template-rows:420px repeat(10, 40px) 70px;
	grid-template-columns:30px 500px;
	grid-row-gap:20px;
}
.advantages_masks{
	grid-column:1/3;
	grid-row:1/2;
	display:grid;
	grid-template-rows:repeat(4, 92px);
	grid-template-columns:repeat(6, 66px);
	grid-gap:24px;
}
.mask1{
	grid-column:1/3;
	grid-row:1/3;
	width: 156px;
	height: 226px;
	display: none;
}
.first_square {
	max-width: 1000px;
}
.mask2{
	grid-column:1/3;
	grid-row:3/5;
	width: 156px;
	height: 168px;
	position: relative;
	top: 250px;
	left: -100px;
}
.advantages_title{
	grid-row:2/3;
	grid-column:1/3;
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	color: #161616;
}
.plus{
	width: 23px;
	height: 23px;
}
.mask_plus1{
	grid-column:1/2;
	grid-row:3/4;
	margin-top:30px;
}
.mask_plus2{
	grid-column:1/2;
	grid-row:4/5;
	margin-top:30px;
}
.mask_plus3{
	grid-column:1/2;
	grid-row:5/6;
	margin-top:30px;
}
.mask_plus4{
	grid-column:1/2;
	grid-row:6/7;
	margin-top:30px;
}
.mask_plus5{
	grid-column:1/2;
	grid-row:7/8;
	margin-top:30px;
}
.mask_plus6{
	grid-column:1/2;
	grid-row:8/9;
	margin-top:30px;
}
.mask_plus7{
	grid-column:1/2;
	grid-row:9/10;
	margin-top:30px;
}
.mask_plus8{
	grid-column:1/2;
	grid-row:10/11;
	margin-top:30px;
}
.mask_plus9{
	grid-column:1/2;
	grid-row:11/12;
	margin-top:30px;
}
#text7{
	grid-column:2/3;
	grid-row:3/4;
}
#text8{
	grid-column:2/3;
	grid-row:4/5;
}
#text9{
	grid-column:2/3;
	grid-row:5/6;
}
#text10{
	grid-column:2/3;
	grid-row:6/7;
}
#text11{
	grid-column:2/3;
	grid-row:7/8;
}
#text12{
	grid-column:2/3;
	grid-row:8/9;
}
#text13{
	grid-column:2/3;
	grid-row:9/10;
}
#text14{
	grid-column:2/3;
	grid-row:10/11;
}
#text15{
	grid-column:2/3;
	grid-row:11/12;
}
.advantages_btn{
	grid-column:1/3;
	grid-row:12/13;
	width: 279px;
	height: 68px;
	border: 1px solid #000000;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	color:  #000000;
	margin-top:50px;
	text-decoration:none;
	text-align:center;
	padding:18px 0;
}

.animationMove, .move1 {
  transform: translateY(513px) !important;
  left: 215px !important;
  transition: 0.5s;
  width: 92% !important;
}
.animationMove2 {
  transform: translateY(1092px) !important;
  left: -5px !important;
  transition: 1.5s;
  width: 556px !important;
}
#mask5, #mask9, #mask13 {
  grid-column: 3 / 4;
}

