@font-face {
    font-family: 'Roboto-Light';
    src: url(/fonts/Roboto-Light.eot);
    src: url(/fonts/Roboto-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Light.woff) format('woff'),
    url(/fonts/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(/fonts/Roboto-Regular.eot);
    src: url(/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Roboto-Regular.woff) format('woff'),
    url(/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Light';
    src: url(/fonts/Manrope-Light.eot);
    src: url(/fonts/Manrope-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Light.woff) format('woff'),
    url(/fonts/Manrope-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url(/fonts/Manrope-Medium.eot);
    src: url(/fonts/Manrope-Medium.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Medium.woff) format('woff'),
    url(/fonts/Manrope-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url(/fonts/Manrope-Bold.eot);
    src: url(/fonts/Manrope-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/Manrope-Bold.woff) format('woff'),
    url(/fonts/Manrope-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Manrope-Medium';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fafafa;
}
.wrap_header{
	position: relative;
	display: grid;
	grid-template-columns:10% 1fr 2fr repeat(5, 1fr) 7%;
	grid-column-gap:35px;
	margin-top:25px;
	justify-items:center;
	align-items:center;
  width: 1320px;
}
.wrapMain_header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header_logo{
	width: 86px;
	height: 25px;
	grid-column:2/3;
}
.nav_header{
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
	color: #525252;
	font-family: 'Roboto-Regular';
	text-decoration:none;
}
.wrap_cosmeticMasks {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cosmeticMasks{
	margin-top:50px;
  width: 1320px;
	position: relative;
	display: grid;
	grid-template-columns:10% 3fr 5fr 7%;
	grid-template-rows:250px 180px 100px;
	grid-column-gap:35px;
}
.masks_title{
	grid-column:1/3;
	grid-row:1/2;
	font-weight: 600;
	font-size: 40px;
	line-height: 65px;
	color: #242424;
  transition: 0.5s;
}
.masks_subtitle{
  position: relative;
  top: -22px;
	grid-column:1/3;
	grid-row:2/3;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
  transition: 0.5s;
}
#masks_order{
	background: #00C187;
	border: 3px solid #00C187;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration:none;
	width: 170px;
	height: 70px;
	grid-column:1/2;
	grid-row:3/4;
	padding:10px 0;
	text-align:center;
	vertical-align: middle;
	margin-top:-21px;
  transition: 0.5s;
}
#masks_buy{
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #000000;
	text-decoration:underline;
	margin-left:230px;
	margin-top:-8px;
	grid-column:1/3;
	grid-row:3/4;
  transition: 0.5s;
}
#lottie-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  position: relative;
  z-index: -1;
  transition: 0.5s;
  width: 180%;
  left: -141px;
}
.wrap_rosee {
  grid-column: 1 / 4;
  display: flex;
  justify-content: start;
  width: 100%;
}
#header_buy {
  left: 22px;
}
#delivery {
  left: 26px;
}
#inside {
  left: 17px;
}
.every_p {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #242424;
  opacity: 0.2;
}
.order_bottom {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    opacity: 0.3;
    border: 3px solid #00c187;
    border-radius: 10px;
    width: 175px;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    fony-family: 'Manrope';
    top: -20px;
}
.buy_present {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  left: 226px;
  top: -73px;
}
.everyWeek {
  position: relative;
  grid-template-columns: 12% 1fr 1fr;
  display: grid;
  width: 1320px;
}
.every_p2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  top: -27px;
}
.wrap_everyWeek {
  width: 100%;
  display: flex;
  justify-content: center;
}

.advantages{
	position: relative;
	margin-top:150px;
	display:grid;
	grid-template-columns:10% 1fr 1fr 7%;
	grid-column-gap:35px;
	width: 1320px;
}
.advantages_shop{
	grid-column: 1 / 3;
	display:grid;
	grid-template-rows:420px repeat(7, 40px);
	grid-template-columns:30px 400px;
	grid-row-gap:20px;
}
.shop{
	width: 520px;
	height: 416px;
	opacity: 0.8;
	grid-row:1/2;
	grid-column:1/3;
}
.shop_title{
	grid-row:2/3;
	grid-column:1/3;
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	color: #161616;
}
.minus{
	width: 23px;
	height: 23px;
	margin-right:15px;
}
.shop_minus1{
	grid-column:1/2;
	grid-row:3/4;
	margin-top:30px;
}
.shop_minus2{
	grid-column:1/2;
	grid-row:4/5;
	margin-top:30px;
}
.shop_minus3{
	grid-column:1/2;
	grid-row:5/6;
	margin-top:30px;
}
.shop_minus4{
	grid-column:1/2;
	grid-row:6/7;
	margin-top:30px;
}
.shop_minus5{
	grid-column:1/2;
	grid-row:7/8;
	margin-top:30px;
}
.shop_minus6{
	grid-column:1/2;
	grid-row:8/9;
	margin-top:30px;
}
.minus_text{
	font-size: 24px;
	font-weight: 400;
	line-height: 38px;
	color:  #000000;
}
#text1{
	grid-column:2/3;
	grid-row:3/4;
}
#text2{
	grid-column:2/3;
	grid-row:4/5;
}
#text3{
	grid-column:2/3;
	grid-row:5/6;
}
#text4{
	grid-column:2/3;
	grid-row:6/7;
}
#text5{
	grid-column:2/3;
	grid-row:7/8;
}
#text6{
	grid-column:2/3;
	grid-row:8/9;
}
.our_advantages{
	position: relative;
	left: 150px;
	grid-column: 3/4;
	display:grid;
	grid-template-rows:420px repeat(10, 40px) 70px;
	grid-template-columns:30px 500px;
	grid-row-gap:20px;
}
.advantages_masks{
	grid-column:1/3;
	grid-row:1/2;
	display:grid;
	grid-template-rows:repeat(4, 92px);
	grid-template-columns:repeat(6, 66px);
	grid-gap:24px;
}
.mask1{
	grid-column:1/3;
	grid-row:1/3;
	width: 156px;
	height: 226px;
	display: none;
}
.first_square {
	max-width: 1000px;
  grid-column: 1 / 3;
	opacity: 0;
}
.mask2{
	grid-column:1/3;
	grid-row:3/5;
	width: 156px;
	height: 168px;
	position: relative;
	top: 250px;
	left: -100px;
}
.advantages_title{
	grid-row:2/3;
	grid-column:1/3;
	font-size: 24px;
	font-weight: 600;
	line-height: 34px;
	color: #161616;
}
.plus{
	width: 23px;
	height: 23px;
}
.mask_plus1{
	grid-column:1/2;
	grid-row:3/4;
	margin-top:30px;
}
.mask_plus2{
	grid-column:1/2;
	grid-row:4/5;
	margin-top:30px;
}
.mask_plus3{
	grid-column:1/2;
	grid-row:5/6;
	margin-top:30px;
}
.mask_plus4{
	grid-column:1/2;
	grid-row:6/7;
	margin-top:30px;
}
.mask_plus5{
	grid-column:1/2;
	grid-row:7/8;
	margin-top:30px;
}
.mask_plus6{
	grid-column:1/2;
	grid-row:8/9;
	margin-top:30px;
}
.mask_plus7{
	grid-column:1/2;
	grid-row:9/10;
	margin-top:30px;
}
.mask_plus8{
	grid-column:1/2;
	grid-row:10/11;
	margin-top:30px;
}
.mask_plus9{
	grid-column:1/2;
	grid-row:11/12;
	margin-top:30px;
}
#text7{
	grid-column:2/3;
	grid-row:3/4;
}
#text8{
	grid-column:2/3;
	grid-row:4/5;
}
#text9{
	grid-column:2/3;
	grid-row:5/6;
}
#text10{
	grid-column:2/3;
	grid-row:6/7;
}
#text11{
	grid-column:2/3;
	grid-row:7/8;
}
#text12{
	grid-column:2/3;
	grid-row:8/9;
}
#text13{
	grid-column:2/3;
	grid-row:9/10;
}
#text14{
	grid-column:2/3;
	grid-row:10/11;
}
#text15{
	grid-column:2/3;
	grid-row:11/12;
}
.advantages_btn{
	grid-column:1/3;
	grid-row:12/13;
	width: 279px;
	height: 68px;
	border: 1px solid #000000;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	color:  #000000;
	margin-top:36px;
	text-decoration:none;
	text-align:center;
	padding:18px 0;
}

.animationMove, .move1 {
  transform: translateY(600px) !important;
  left: 158px !important;
  transition: 0.5s;
  width: 136% !important;
}
.move2 {
  transform: translateY(600px) !important;
  transition: 0.5s;
  width: 136% !important;
}
.animationMove2 {
  transform: translateY(1092px) !important;
  left: 28px !important;
  transition: 1.5s;
  width: 556px !important;
}
.simpleMove {
  transform: translateY(1092px) !important;
  transition: 1.5s;
}
#mask5, #mask9, #mask13 {
  grid-column: 3 / 4;
}
.MasksInside{
	margin-top:150px;
	position:relative;
	display:grid;
	grid-template-columns:10% 1fr 1fr 7%;
	grid-template-rows:80px 80px 120px 700px 120px;
	grid-row-gap:20px;
  width: 1320px;
}
.inside_title{
	grid-column:1/3;
	grid-row:1/2;
	font-size: 50px;
	line-height: 70px;
	font-weight: 600;
	color: #5B5464;
}
.inside_subtitle{
	grid-column:1/3;
	grid-row:2/3;
	font-size: 24px;
	line-height: 38px;
	font-weight: 400;
	color:#000000;;
}
.inside_text1{
  grid-column: 3/5;
  grid-row: 3/4;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  color: #000000;
  position: relative;
  left: 31px;
}
.inside_mask1{
	width: 750px;
	height: 850px;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}
.wrap_mask1{
	grid-column:1/3;
	grid-row:3/5;
	justify-self:center;
}
.inside_mask2{
	width: 450px;
	height: 600px;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}
.wrap_mask2{
	grid-column: 1/3;
	grid-row:3/5;
	z-index:1;
	justify-self:end;
	align-self:center;
	position:relative;
	top:50px;
	left:-100px;
}
.wrap_arrow1{
	grid-column:1/3;
	grid-row:4/5;
	justify-self:start;
	align-self:end;
}
.inside_text2{
	grid-column:1/3;
	grid-row:5/6;
	font-size: 24px;
	line-height: 38px;
	font-weight: 400;
	color:#000000;
	margin:0;
}
.inside_mask3{
	width: 310px;
	height: 445px;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}
.wrap_mask3{
	grid-column:3/4;
	grid-row:4/5;
	z-index:6;
	justify-self:end;
	align-self:start;
}
.inside_mask4{
	width: 315px;
	height: 415px;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}
.wrap_mask4{
	position: relative;
	top: 130px;
	right: 160px;
	grid-column:3/4;
	grid-row:4/5;
	z-index:5;
	justify-self:end;
	align-self:start;
}
.inside_mask5{
	width: 310px;
	height: 410px;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}
.wrap_mask5{
	position: relative;
	top: 230px;
	right: 320px;
	grid-column:3/4;
	grid-row:4/5;
	z-index:4;
	justify-self:end;
	align-self:start;
}
.inside_mask6{
	width: 290px;
	height: 415px;
	filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.1));
}
.wrap_mask6{
	position: relative;
	top: 360px;
	right: 470px;
	grid-column:3/4;
	grid-row:4/5;
	z-index:3;
	justify-self:end;
	align-self:start;
}
.wrap_arrow2{
	grid-column:3/4;
	grid-row:4/5;
	justify-self:start;
	align-self:start;
	left:23px;
	position:relative;
}
.inside_text3{
  grid-column: 4/5;
  grid-row: 5/6;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
  color: #AFAFAF;
  justify-self: end;
  align-self: end;
  margin: 0;
  width: 360px;
}

.wrap_advantages {
  width: 100%;
  display: grid;
  justify-content: center;
}
.wrap_inside {
  display: flex;
  justify-content: center;
  z-index: -1;
}
.com_ins {
  width: 408px;
  height: 532px;
  position: relative;
  left: 142px;
}
.wrapMain_Envelope{
	display: flex;
	justify-content: center;
	width: 100%;
}
.envelope{
	margin-top:150px;
	position:relative;
	display:grid;
	grid-template-columns:200px 300px 200px 200px 300px;
	grid-gap:27px;
	grid-template-rows:80px 180px repeat(3, 270px);
	width: 1320px;
}
.envelope_title{
	grid-column:1/4;
	grid-row:1/2;
	font-weight: 600;
	font-size: 50px;
	line-height: 70px;
	color: #5B5464;
}
.envelope_subtitle{
	grid-column:1/4;
	grid-row:2/3;
	font-weight: 400;
	font-size: 24px;
	line-height: 38px;
	color: #000000;
}
.wrapEN_mask1{
	grid-column:1/2;
	grid-row:3/4;
}
.envelope_mask1{
	width: 200px;
	height: 270px;
}
.envelope_mask2{
	width: 136px;
	height: 197px;
}
.wrapEN_mask2{
	grid-column:1/2;
	grid-row:4/5;
	justify-self:end;
	align-self:start;
}
.envelope_mask3{
	width: 300px;
	height: 434px;
}
.wrapEN_mask3{
	grid-column:2/3;
	grid-row:3/5;
	padding-top:52px;
}
.wrapEN_mask4_6{
	grid-column:2/3;
	grid-row:4/6;
	display:grid;
	grid-template-columns:repeat(3, 80px);
	grid-column-gap:30px;
	padding-top:250px;
}
.envelope_mask4,.envelope_mask5,.envelope_mask6 {
	width: 80px;
	height: 125px;
}
.wrapEN_mask4{
	grid-column:1/2;
	grid-row:1/2;
}
.wrapEN_mask5{
	grid-column:2/3;
	grid-row:1/2;
}
.wrapEN_mask6{
	grid-column:3/4;
	grid-row:1/2;
}
.envelope_mask7, .envelope_mask8{
	width: 200px;
	height: 270px;
}
.wrapEN_mask7{
	grid-column:3/4;
	grid-row:3/4;
}
.wrapEN_mask8{
	grid-column:3/4;
	grid-row:4/5;
}
.wrapEN_mask9_12{
	grid-column:4/5;
	grid-row:3/4;
	display:grid;
	grid-template-columns:repeat(2, 86px);
	grid-template-rows:repeat(2, 130px);
	grid-gap:25px;
	padding-top:52px;
}
.envelope_mask9, .envelope_mask10, .envelope_mask11, .envelope_mask12{
	width: 86px;
	height: 130px
}
.wrapEN_mask9{
	grid-column:1/2;
	grid-row:1/2;
}
.wrapEN_mask10{
	grid-column:1/2;
	grid-row:2/3;
}
.wrapEN_mask11{
	grid-column:2/3;
	grid-row:1/2;
}
.wrapEN_mask11{
	grid-column:2/3;
	grid-row:2/3;
}
.envelope_mask13{
	width: 200px;
	height: 270px;
}
.wrapEN_mask13{
	grid-column:4/5;
	grid-row:4/6;
	padding-top:105px;
}
.envelope_mask14{
	width: 300px;
	height: 430px;
}
.wrapEN_mask14{
	grid-column:5/6;
	grid-row:3/5;
}
.wrapEN_mask15_16{
	grid-column:5/6;
	grid-row:4/6;
	display:grid;
	grid-template-columns:repeat(2, 135px);
	grid-gap:30px;
	padding-top:180px;
}
.envelope_mask15, .envelope_mask16{
	width: 135px;
	height: 196px;
}
.wrapEN_mask15{
	grid-column:1/2;
}
.wrapEN_mask16{
	grid-column:2/3;
}
.DeliverySection {
    display: grid;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 5100px;
}
.DeliverySecrion h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;
    color: #5B5464;
}
.DeliverySecrion h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 27.0076px;
    line-height: 140%;
    color: #000000;
}
.DeliverySecrion p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}
.DeliveryGrid {
    display: grid;
    width: 1320px;
    grid-column-gap: 164px;
    grid-row-gap: 20px;
    justify-content: center;
}
.DeliveryFree {
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 0px 0px 12px 0px;
  color: #5B5464;
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}
.DeliveryInMailBox {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0px 0px 0px 0px;
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  font-family: 'Manrope-Bold';
  width: 240px;
}
.DeliveryText1 {
    grid-column: 1/2;
    grid-row: 3/4;
    margin:0px 0px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 323px;
    font-family: 'Manrope-Light';
}
.forRF {
    grid-column: 2/3;
    grid-row: 2/3;
    margin:0px 0px 0px 0px;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    font-family: 'Manrope-Bold';
    width: 240px;
}
.DeliveryText2 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin:-43px 0px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 323px;
    font-family: 'Manrope-Light';
}
.Free {
    grid-column: 3/4;
    grid-row: 2/3;
    margin:0px 0px 0px 0px;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    font-family: 'Manrope-Bold';
    width: 240px;
}
.DeliveryText3 {
    grid-column: 3/4;
    grid-row: 3/4;
    margin:-43px 0px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 323px;
    font-family: 'Manrope-Light';
}
.wrap_Buy {
    position: relative;
    top: 400px;
    display: flex;
    justify-content: center;
}
.buyBlock {
  width: 1404px;
  height: 586px;
  grid-template-columns: 40% 60%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: relative;
  left: 56px;
}
.wrap_skinImages {
  position: relative;
  top: 100px;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
#tree {
  position: absolute !important;
  left: -282px;
  z-index: -1;
  top: -36px;
}
#face {
  position: absolute !important;
  top: 18px;
}
.qty {
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  color: #5B5464;
  font-family: 'Manrope-Bold';
  width: 609px;
}
.chooseSecond {
  grid-column: 2 / 3;
  position: relative;
  top: -53px;
}
.forMyself {
  color: #54854A !important;
  border-bottom: 2px dashed;
  cursor: pointer;
  text-decoration: none;
}
.typeOfSkin {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-family: 'Manrope-Bold';
}
.combi {
  display: flex;
  align-items: flex-start;
  padding: 20px 25px;
  position: relative;
  top: -10px;
  width: 286px;
  height: 71px;
  border: 2px solid #54854A;
  box-sizing: border-box;
  border-radius: 10px;
  color: #54854a;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.fatty {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 25px;
  position: relative;
  width: 153px;
  height: 71px;
  left: 313px;
  top: -105px;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.dry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 25px;
  position: relative;
  width: 127px;
  height: 71px;
  left: 493px;
  top: -200px;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.payment1 {
  position: relative;
  top: -282px;
}
.payment2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-family: 'Manrope-Bold';
}
.once {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 25px;
  position: relative;
  justify-content: center;
  width: 202px;
  height: 71px;
  border: 2px solid #54854A;
  box-sizing: border-box;
  border-radius: 10px;
  color: #54854A;
  font-size: 24px;
  line-height: 31px;
  top: -10px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.sixMonth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  position: absolute;
  width: 264px;
  height: 71px;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  top: 45px;
  left: 229px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.everyYear {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  position: absolute;
  width: 177px;
  height: 71px;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  top: 45px;
  left: 520px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.makePayment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 240px;
  height: 68px;
  background: #54854A;
  color: #ffffff;
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  cursor: pointer;
  top: -21px;
  font-family: 'Manrope-Bold';
}
.wrap_pay {
  position: relative;
  top: -285px;
}
.priceNew {
  position: relative;
  left: 282px;
  top: -124px;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #54854A;
  font-family: 'Manrope-Bold';
}
.month1 {
  position: relative;
  top: -155px;
  left: 282px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #616161;
}
.oldPrice {
  position: relative;
  left: 419px;
  top: -243px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #616161;
  text-decoration: line-through;
}
.sixtheen {
  position: relative;
  top: 54px;
}
.presents {
  border-bottom: 2px dashed;
  cursor: pointer;
  text-decoration: none;
  color: #5B5464;
}

.wrap_Promotions{
	display: flex;
	justify-content: center;
	width: 100%;
}
.promotions{
	margin-top:620px;
	position:relative;
	display:grid;
	grid-template-columns:repeat(3, 420px);
	grid-gap:30px;
	grid-template-rows:100px repeat(2, 215px);
	width: 1320px;
}
.promotions_title{
	grid-column:1/2;
	grid-row:1/2;
	font-size: 50px;
	line-height: 70px;
	color: #5B5464;
	font-weight: 600;
	margin:0;
	position: relative;
	top: 32px;
}
.masks_promotions{
	width: 419px;
	height: 213px;
}
.wrap_promotions1{
	grid-column:1/2;
	grid-row:2/3;
}
.wrap_promotions2{
	grid-column:1/2;
	grid-row:3/4;
}
.wrap_promotions3{
	grid-column:2/3;
	grid-row:2/3;
}
.wrap_promotions4{
	grid-column:2/3;
	grid-row:3/4;
}
.wrap_promotions5{
	grid-column:3/4;
	grid-row:2/3;
}
.wrap_promotions6{
	grid-column:3/4;
	grid-row:3/4;
}
.wrap_Footer{
	display: flex;
	justify-content: center;
	width: 100%;
	background: url(/7bd38d31fd40219fc3b4d79f52aaf102.png) no-repeat center;
	background-size: cover;
	position: relative;
	margin-top: -200px;
}
.footer{
	position: relative;
	display: grid;
	grid-template-columns:1fr 3fr repeat(5, 1fr);
	grid-column-gap:35px;
	margin-top:200px;
	margin-bottom:33px;
	justify-items:center;
	align-items:center;
	padding-top:400px;
	padding-bottom:20px;
	width: 1320px;
}
.wrap_footer_rosee{
	grid-column:1/2;
	justify-content: start;
	width: 100%;
}
.footer_logo{
	width: 89px;
	height: 27px;
}
.nav_footer{
	font-weight: 400;
	font-size: 21px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: 'Roboto-Regular';
	text-decoration:none;
}
#footer_buy {
	position: relative;
	left: 33px;
}
#footer_delivery {
	position: relative;
	left: 40px;
}
#footer_inside {
	position: relative;
	left: 28px;
}
.wrap_questions2 {
	position: relative;
  display: flex;
  justify-content: center;
  top: 80px;
	z-index: 1;
}
.questions2 {
	width: 1320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.first_section {
	grid-column: 1 / 2;
}
.have_a_quest {
	font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  color: #5D8655;
}
.have_a_quest2 {
	font-weight: 400;
	font-size: 25px;
	line-height: 41px;
	width: 500px;
	position: relative;
	top: -43px;
	font-family: 'Manrope-Light';
}

