@media (min-width: 576px) and (max-width: 767px) {
  .header_logo, .wrap_rosee {
    position: relative;
    width: 110px;
    left: 206px;
    top: -6px;
  }
  .order_addition {
    display: none;
  }
  .cls {
   display: -ms-grid;
   display: grid;
   width: 31px;
   height: 31px;
   cursor: pointer;
   position: relative;
   -ms-grid-column: 3;
   -ms-grid-column-span: 1;
   grid-column: 3 / 4;
   left: 132px;
   top: -5px;
 }
 .cancel_sub {
   z-index: 999;
 }
 .cancel2 {
   top: 37%;
   position: -webkit-sticky;
   position: sticky;
   background: bisque;
   width: 300px;
   z-index: 1000;
   height: 233px;
   margin-left: 7%;
   display: none;
   -ms-grid-columns: (1fr)[2];
   grid-template-columns: repeat(2, 1fr);
   -ms-grid-rows: (1fr)[2];
   grid-template-rows: repeat(2, 1fr);
 }
 .sure_cancel {
   font-size: 17px;
 }
 #cancel_yes {
   left: 20px;
 }
 #cancel_no {
   left: 31px;
 }
 #cls1, #cls2, #cls3 {
   position: relative;
   width: 100%;
   height: 3px;
   background: black;
 }
 #cls1, #cls3 {
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
 }
 #inside, #delivery {
   display: none;
 }
 .trans1 {
   -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
           transform: rotate(45deg);
   top: 12px !important;
 }
 .trans2 {
   -webkit-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
           transform: rotate(-45deg);
   top: -9px !important;
 }
 .disappear {
   opacity: 0;
 }
 .order_title2 {
   -ms-grid-column: 2;
   -ms-grid-column-span: 1;
   grid-column: 2/3;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   font-weight: 700;
   font-size: 35px;
   line-height: 43px;
   color: #54854A;
   width: 361px;
   font-size: 22px;
   line-height: 30px;
   position: relative;
   left: 245px;
   font-family: 'Manrope-Bold';
   top: -41px;
 }
 .order_title {
   display: none;
 }
 .name_input {
   -ms-grid-column: 2;
   -ms-grid-column-span: 1;
   grid-column: 2/3;
   -ms-grid-row: 2;
   -ms-grid-row-span: 1;
   grid-row: 2/3;
   font-size: 16px;
   font-family: 'Manrope-Medium';
   width: 336px;
   height: 40px;
   position: relative;
   left: 147px;
   margin-left: 100px;
   background: #dddddd;
   border-radius: 10px;
   border: none;
   font-size: 16px;
   padding-left: 10px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   position: relative;
 }
 .password_field {
   -ms-grid-column: 2;
   -ms-grid-column-span: 1;
   grid-column: 2/3;
   -ms-grid-row: 4;
   -ms-grid-row-span: 1;
   grid-row: 4/5;
   width: 336px;
   left: 247px;
   position: relative;
   height: 40px;
   border-radius: 10px;
   background: #DDDDDD;
   font-size: 16px;
   border: none;
   margin-left: 245px;
   margin-top: -60px;
   padding-left: 28px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
 .telephone_input {
   -ms-grid-column: 2;
   -ms-grid-column-span: 1;
   grid-column: 2/3;
   -ms-grid-row: 3;
   -ms-grid-row-span: 1;
   grid-row: 3/4;
   width: 165px;
   height: 40px;
   border-radius: 10px;
   background: #DDDDDD;
   font-size: 16px;
   border: none;
   padding-left: 10px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   left: 247px;
   position: relative;
 }
  .order_telephone {
    top: -33px !important;
  }
  .order_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    font-family: 'Inter-Bold';
    position: relative;
    left: 491px;
    top: -39px;
    height: 10px;
  }
  .mail_input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    position: relative;
    left: 247px;
    top: -6px;
    width: 336px;
    height: 40px;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .order {
    -ms-grid-rows: 110px 70px 70px 75px 98px 90px 210px 160px;
    grid-template-rows: 110px 70px 70px 75px 98px 90px 210px 160px;
  }
  .passwordname, .order_name, .order_address {
    top: -33px !important;
  }
  .radio_label:before {
    width: 21px;
    height: 21px;
    top: 2px;
  }
  .radio {
    margin-top: 43px;
    height: 60px;
    left: 247px;
  }
  .radio_label {
    font-size: 11px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;
    padding-left: 31px;
    font-family: 'Manrope-Light';
  }
  .address_input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 330px;
    height: 40px;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 16px;
    border: none;
    resize: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10px;
    position: relative;
    left: 246px;
    overflow: overlay;
  }
  .comments {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    width: 330px;
    height: 118px;
    position: relative;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 25px;
    resize: none;
    border: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10px;
    top: -17px;
    position: relative;
    left: 246px;
  }
  .order_comments {
    top: -52px;
  }
  #order_arrange {
    background: #808080;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    color: #fff;
    font-family: 'Manrope-Bold';
    width: 147px;
    height: 53px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    text-align: center;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
    left: 491px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    top: 123px;
  }
  .navLinks {
    text-decoration: none;
  }
  .order_text2 {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3/4;
      -ms-grid-row: 8;
      -ms-grid-row-span: 1;
      grid-row: 8/9;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      color: #000000;
      font-family: 'Manrope-Regular';
      position: relative;
      left: -537px;
      top: -133px;
      width: 180px;
      height: 50px;
    }
    .order_text3 {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-row: 8;
      -ms-grid-row-span: 1;
      grid-row: 8/9;
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      color: #808080;
      font-family: 'Manrope-Light';
      margin-top: -36px;
      width: 275px;
      left: 244px;
      position: relative;
    }
}
@media (min-width: 1100px) and (max-width: 1390px) {
  .userData{
    -ms-grid-columns:260px 200px 216px;
    grid-template-columns:260px 216px;
    -ms-grid-rows:100px 30px 29px 30px 29px 30px 29px 30px 29px 30px 82px 30px 55px 30px 29px 30px 29px;
    grid-template-rows:100px repeat(4, 29px) 82px 55px 29px 29px;
    grid-column-gap:200px;
    grid-row-gap: 30px;
    margin-top:100px;
    width: 992px;
  }.userData > *:nth-child(1){
    -ms-grid-row:1;
    -ms-grid-column:1;
  }.userData > *:nth-child(2){
    -ms-grid-row:1;
    -ms-grid-column:3;
  }.userData > *:nth-child(3){
    -ms-grid-row:3;
    -ms-grid-column:1;
  }.userData > *:nth-child(4){
    -ms-grid-row:3;
    -ms-grid-column:3;
  }.userData > *:nth-child(5){
    -ms-grid-row:5;
    -ms-grid-column:1;
  }.userData > *:nth-child(6){
    -ms-grid-row:5;
    -ms-grid-column:3;
  }.userData > *:nth-child(7){
    -ms-grid-row:7;
    -ms-grid-column:1;
  }.userData > *:nth-child(8){
    -ms-grid-row:7;
    -ms-grid-column:3;
  }.userData > *:nth-child(9){
    -ms-grid-row:9;
    -ms-grid-column:1;
  }.userData > *:nth-child(10){
    -ms-grid-row:9;
    -ms-grid-column:3;
  }.userData > *:nth-child(11){
    -ms-grid-row:11;
    -ms-grid-column:1;
  }.userData > *:nth-child(12){
    -ms-grid-row:11;
    -ms-grid-column:3;
  }.userData > *:nth-child(13){
    -ms-grid-row:13;
    -ms-grid-column:1;
  }.userData > *:nth-child(14){
    -ms-grid-row:13;
    -ms-grid-column:3;
  }.userData > *:nth-child(15){
    -ms-grid-row:15;
    -ms-grid-column:1;
  }.userData > *:nth-child(16){
    -ms-grid-row:15;
    -ms-grid-column:3;
  }.userData > *:nth-child(17){
    -ms-grid-row:17;
    -ms-grid-column:1;
  }.userData > *:nth-child(18){
    -ms-grid-row:17;
    -ms-grid-column:3;
  }
  .specialHead {
    margin-left: 513px !important;
    margin-top: -25px !important;
  }
  .wrap_roseeProf {
    position: relative;
    left: 91px;
    top: 71px;
  }
  .adv {
    position: relative;
    left: -782px !important;
    top: 29px;
  }
  .whatIns {
    position: relative;
    left: 500px !important;
    top: -2px;
  }
  .del {
    width: 73px;
    position: relative;
    left: 567px !important;
    top: -2px;
  }
  .ord {
    top: -2px;
    position: relative;
    left: -284px !important;
    width: 69px;
  }
  .ex {
    position: relative;
    left: 929px !important;
    top: -47px;
  }
  .clsProf {
    display: -ms-grid !important;
    display: grid !important;
  }
  #user{
    font-size: 18px;
    line-height: 29px;
    margin: 0;
  }
  .user_name{
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    -ms-grid-row:1;
    -ms-grid-row-span:1;
    grid-row:1/2;
    font-size: 35px;
    line-height: 49px;
    margin: 0;
  }
  .change_name{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:1;
    -ms-grid-row-span:1;
    grid-row:1/2;
    margin-top: 50px;
  }
  .user_timestamp{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:6;
    -ms-grid-row-span:1;
    grid-row:6/7;
    font-size: 18px;
    line-height: 29px;
    color: #414141;
    margin-top: 33px;
  }
  .user_address{
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    -ms-grid-row:7;
    -ms-grid-row-span:1;
    grid-row:7/8;
    width: 415px;
  }
  .change_address{
    position: relative;
    top: 0px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:8;
    -ms-grid-row-span:1;
    grid-row:8/9;
    margin-top: 0px;
  }
  .cancel_sub{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:9;
    -ms-grid-row-span:1;
    grid-row:9/10;
    font-size: 18px;
    line-height: 29px;
    color: #808080;
    margin-top: 0px;
    z-index: 999;
  }
  .rating_title{
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    top: 0px;
    width: 359px;
  }
  .rating{
    width: 992px;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    margin-top: 82px;
  }
  .rating2{
    width: 992px;
    margin-top: -20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }
  br{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .wrap_header{
  		-ms-grid-columns:1% 40px 0.1fr 40px 0.1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1%;
  		grid-template-columns:1% 0.1fr 0.1fr repeat(5, 1fr) 1%;
  		grid-column-gap:40px;
  		margin-top:25px;
   	 	width: 768px;
   	 	height: 50px;
  	}
    .specialHead {
      margin-left: 408px !important;
      margin-top: -25px !important;
    }
    .clsProf {
      display: -ms-grid !important;
      display: grid !important;
    }
    .wrap_roseeProf {
      position: relative;
      left: 83px;
      top: 63px;
    }
    .adv {
      position: relative;
      left: -583px !important;
      top: 25px;
    }
    .whatIns {
      position: relative;
      left: 441px !important;
      top: -7px;
    }
    .del {
      width: 73px;
      position: relative;
      left: 496px !important;
      top: -6px;
    }
    .ord {
      top: -6px;
      position: relative;
      left: -145px !important;
      width: 69px;
    }
    .ex {
      position: relative;
      left: 821px !important;
      top: -47px;
    }
    .userData{
      -ms-grid-columns:260px 200px 216px;
      grid-template-columns:260px 216px;
      -ms-grid-rows:150px 30px 29px 30px 29px 30px 29px 30px 29px 30px 82px 30px 55px 30px 49px 30px 29px;
      grid-template-rows:150px repeat(4, 29px) 82px 55px 49px 29px;
      grid-column-gap:200px;
      grid-row-gap: 30px;
      margin-top:100px;
      width: 768px;
    }
    .userData > *:nth-child(1){
  		-ms-grid-row:1;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(2){
  		-ms-grid-row:1;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(3){
  		-ms-grid-row:3;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(4){
  		-ms-grid-row:3;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(5){
  		-ms-grid-row:5;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(6){
  		-ms-grid-row:5;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(7){
  		-ms-grid-row:7;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(8){
  		-ms-grid-row:7;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(9){
  		-ms-grid-row:9;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(10){
  		-ms-grid-row:9;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(11){
  		-ms-grid-row:11;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(12){
  		-ms-grid-row:11;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(13){
  		-ms-grid-row:13;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(14){
  		-ms-grid-row:13;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(15){
  		-ms-grid-row:15;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(16){
  		-ms-grid-row:15;
  		-ms-grid-column:3;
    }
    .userData > *:nth-child(17){
  		-ms-grid-row:17;
  		-ms-grid-column:1;
    }
    .userData > *:nth-child(18){
  		-ms-grid-row:17;
  		-ms-grid-column:3;
    }
    #user{
      font-size: 16px;
      line-height: 26px;
      margin: 0;
    }
    .user_name{
      -ms-grid-column:1;
      -ms-grid-column-span:2;
      grid-column:1/3;
      -ms-grid-row:1;
      -ms-grid-row-span:1;
      grid-row:1/2;
      font-size: 25px;
      line-height: 34px;
      margin: 0;
    }
    .change_name{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row:1;
      -ms-grid-row-span:1;
      grid-row:1/2;
      margin-top: 35px;
    }
    .user_timestamp{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row:6;
      -ms-grid-row-span:1;
      grid-row:6/7;
      font-size: 18px;
      line-height: 29px;
      color: #414141;
      margin-top: 33px;
    }
    .user_address{
      -ms-grid-column:1;
      -ms-grid-column-span:2;
      grid-column:1/3;
      -ms-grid-row:7;
      -ms-grid-row-span:1;
      grid-row:7/8;
      width: 415px;
    }
    .change_address{
      position: relative;
      top: 0px;
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row:8;
      -ms-grid-row-span:1;
      grid-row:8/9;
      margin-top: 0px;
    }
    .cancel_sub{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row:9;
      -ms-grid-row-span:1;
      grid-row:9/10;
      font-size: 16px;
      line-height: 26px;
      color: #808080;
      margin-top: 0px;
      z-index: 999;
    }
    .rating_title{
      font-size: 18px;
      line-height: 25px;
      margin: 0;
      top: 0px;
      width: 359px;
    }
    .rating{
      width: 768px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 82px;
    }
    .rating2{
      width: 768px;
      margin-top: -30px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 100px;
    }
    br{
      display: none;
    }
    #change{
      font-size: 16px;
      line-height: 26px;
    }
    .label_rating{
      width: 51px;
      height: 52px;
      border-radius: 9px;
      margin-right: 8px;
    }
    .numbers{
      font-size: 16px;
      line-height: 23px;
      padding-top: 13px;
    }
}
