@media (min-width: 320px) and (max-width: 576px) {
  .header_logo, .wrap_rosee {
    position: absolute;
    width: 54px;
    height: auto;
  }
  .mobile_rosee_order {
    left: 233px !important;
  }
  .nav_header_order {
    display: none;
  }
  .forMyself {
    cursor: pointer;
    text-decoration: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(48%, #54854A), color-stop(0%, rgba(255,255,255,0))) !important;
    background-image: -o-linear-gradient(left, #54854A 48%, rgba(255,255,255,0) 0%) !important;
    background-image: linear-gradient(to right, #54854A 48%, rgba(255,255,255,0) 0%) !important;
    background-position: bottom !important;
    background-size: 26px 2px !important;
    background-repeat: repeat-x !important;
    color: #54854A !important;
  }
  .wrap_Order {
    overflow-x: hidden;
  }
  .mobile_menu {
    display: -ms-grid;
    display: grid;
    position: absolute;
    width: 177px;
    height: 300px;
    background: #000000;
    left: -400px;
    top: 0px;
    z-index: 100;
    color: white;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 25px 0;
  }
  #mob_enter, #mob_order {
    font-weight: 700;
    font-family: 'Roboto-Regular';
  }
  .mobileAppear {
    left: 0px;
  }
  .mobile_each {
    font-size: 16px;
    font-family: 'ROBOTO-LIGHT';
    line-height: 25px;
    text-decoration: underline;
    position: relative;
    left: 19px;
    width: 158px;
    color: white;
  }
  .order_addition {
    opacity: 0;
  }
  .wrpa_order22 {
    position: relative;
    height: 1721px;
    overflow-y: hidden;
  }
  .cls {
    display: -ms-grid;
    display: grid;
    width: 21px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    top: 24px;
    left: -5px;
  }
  .clsOrder {
    left: 236px !important;
  }
  #cls1, #cls2, #cls3 {
    position: relative;
    width: 100%;
    height: 3px;
    background: black;
  }
  #cls1, #cls3 {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  #inside, #delivery {
    display: none;
  }
  .trans1 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 5px !important;
  }
  .trans2 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -9px !important;
  }
  .disappear {
    opacity: 0;
  }
  .order_title2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #54854A;
    width: 357px;
    font-size: 25px;
    line-height: 38px;
    position: relative;
    left: 245px;
    font-family: 'Manrope-Bold';
    top: -41px;
  }
  .order_title {
    display: none;
  }
  .name_input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 16px;
    font-family: 'Manrope-Medium';
    width: 336px;
    height: 40px;
    position: relative;
    left: 147px;
    margin-left: 100px;
    background: #dddddd;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  .password_field {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 336px;
    left: 247px;
    position: relative;
    height: 40px;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 16px;
    border: none;
    margin-left: 245px;
    margin-top: -60px;
    padding-left: 28px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .telephone_input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 165px;
    height: 40px;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 247px;
    position: relative;
  }
  .order_telephone {
    top: -33px !important;
  }
  .order_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    font-family: 'Inter-Bold';
    position: relative;
    left: 491px;
    top: -39px;
    height: 10px;
  }
  .mail_input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    position: relative;
    left: 247px;
    top: -6px;
    width: 336px;
    height: 40px;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .order {
    -ms-grid-rows: 110px 70px 70px 75px 98px 90px 210px 160px;
    grid-template-rows: 110px 70px 70px 75px 98px 90px 210px 160px;
  }
  .passwordname, .order_name, .order_address {
    top: -33px !important;
  }
  .radio_label:before {
    width: 21px;
    height: 21px;
    top: 2px;
  }
  .radio {
    margin-top: 43px;
    height: 60px;
    left: 247px;
  }
  .radio_label {
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;
    padding-left: 31px;
    font-family: 'Manrope-Light';
  }
  .address_input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 330px;
    height: 40px;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 16px;
    border: none;
    resize: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10px;
    position: relative;
    left: 246px;
    overflow: overlay;
  }
  .comments {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    width: 330px;
    height: 118px;
    position: relative;
    border-radius: 10px;
    background: #DDDDDD;
    font-size: 25px;
    resize: none;
    border: none;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10px;
    top: -17px;
    position: relative;
    left: 246px;
  }
  .order_comments {
    top: -52px;
  }
  #order_arrange {
    background: #808080;
    font-weight: 700;
    font-size: 18px;
    line-height: 68px;
    color: #fff;
    font-family: 'Manrope-Bold';
    width: 147px;
    height: 53px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    text-align: center;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
    left: 491px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    top: 123px;
  }
  .navLinks {
    text-decoration: none;
  }
  .order_text2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-family: 'Manrope-Regular';
    position: relative;
    left: -537px;
    top: -133px;
    width: 166px;
    height: 50px;
  }
  .order_text3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #808080;
    font-family: 'Manrope-Light';
    margin-top: -36px;
    width: 299px;
    left: 244px;
    position: relative;
    height: 50px;
  }
  .wrap_Footer {
    background: url('../images/Без имени-2 2.svg');
    background-size: cover;
    position: relative;
    height: 886px;
    overflow: hidden;
  }
  .wrap_order_foot {
    top: 130px !important;
  }
  .orderFoot {
      margin-top: 245px !important;
      margin-bottom: 20px !important;
      padding-top: 225px !important;
    }
    .specialHead {
      margin-left: -1805px !important;
    }
    .clsProf {
      left: 327px !important;
    }
    .wrap_roseeProf, .header_logoProf {
      left: 18px !important;
      top: -13px !important;
    }
    .wrap_footer_rosee {
      top: -79px;
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      grid-column: 1 / 5;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      width: 100%;
      position: relative;
      left: -168px;
      width: 100px;
    }
    .footer_logo {
      width: 75px;
      height: auto;
    }
    #footer_phone {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      position: relative;
      left: -16px;
      top: -175px;
      color: white;
    }
    #footer_email {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      top: -175px;
      position: relative;
      color: white;
    }
    #footer_offer {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      margin-left: -236px;
      top: -117px;
      position: relative;
    }
    #footer_confidentiality {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      left: -8px;
      position: relative;
      width: 255px;
      top: -143px;
    }
    #footer_sentence {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      position: relative;
      top: -93px;
      left: -15px;
      width: 250px;
    }
    #footer_information {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3;
      margin-left: 30px;
      position: relative;
      width: 319px;
      top: 75px;
    }
    .nav_footer {
      font-family: 'Roboto-Light';
      color: white;
      font-size: 16px !important;
    }
    #user {
      position: relative;
      top: 64px;
      font-size: 17px;
    }
    .wrap_Footer {
      background: url('../images/Без имени-2 2.svg');
      background-size: cover;
      position: relative;
      top: 71px;
    }
    .wrap_order_foot {
      top: -215px;
    }
    .change_email {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      margin-top: 98px;
    }
    .change_password {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5;
      margin-top: 47px;
    }
    .change_phone {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      position: relative;
      top: 134px;
    }
    .change_period {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      grid-row: 5/6;
      margin-top: 4px;
      position: relative;
      top: 144px;
    }
    .change_card {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 6;
      -ms-grid-row-span: 1;
      grid-row: 6/7;
      margin-top: 190px;
    }
    .user_card {
      top: 132px !important;
    }
    .user_address {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 8;
      -ms-grid-row-span: 1;
      grid-row: 8/9;
      top: 124px !important;
    }
    .cancel_sub {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-row: 7/8;
      margin-top: 270px;
      color: #808080;
    }
    .rating {
      width: 366px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 123px;
      left: -15px;
    }
    .rating2 {
      display: -ms-grid;
      display: grid;
      width: 300px;
      top: 21px;
    }
    .label_rating {
      width: 56px;
      height: 56px;
    }
    .numbers {
      font-size: 17px;
    }
    .have_a_quest {
      font-weight: 600;
      font-size: 20px;
      line-height: 70px;
      color: black;
      margin-top: 0;
    }
    .questions2 {
      position: relative;
      width: 300px;
      top: -53px;
    }
    .second_section {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      margin-top: 15px;
      width: 347px;
      left: -4px;
      position: relative;
    }
    .second_section > form {
      width: 100%
    }
    .questions_name, .questions_mail, .questions_input {
      width: 100%;
      font-size: 16px;
      background: white;
    }
    .questions_name, .questions_mail {
      height: 51px;
    }
    .wrap_prof_footer {
      margin-top: 1862px;
    }
    .specProfFoot {
      margin-top: 195px !important;
      margin-bottom: 60px !important;
      height: 202px !important;
    }
    .headForOrder {
      margin-left: 237px !important;
    }
    .questions_button {
      width: 156px;
      height: 51px;
      font-size: 19px;
    }
    .have_a_quest2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      position: relative;
      top: -21px;
      font-family: 'Manrope-Light';
      width: 284px;
    }
    .br_2 {
      display: block;
    }
    .br_1 {
      display: none;
    }
    #rating_form {
      display: -ms-grid;
      display: grid;
      margin-top: 50px;
      -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
      grid-template-columns: repeat(10, 1fr);
      width: 100%;
      -ms-grid-rows: 1fr 26px 1fr;
      grid-template-rows: repeat(2, 1fr);
      height: 116px;
      grid-gap: 26px 2px;
      position: relative;
      left: 21px;
    }
    #rating_form > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    #rating_form > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    #rating_form > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    #rating_form > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 7;
    }
    #rating_form > *:nth-child(5) {
      -ms-grid-row: 1;
      -ms-grid-column: 9;
    }
    #rating_form > *:nth-child(6) {
      -ms-grid-row: 1;
      -ms-grid-column: 11;
    }
    #rating_form > *:nth-child(7) {
      -ms-grid-row: 1;
      -ms-grid-column: 13;
    }
    #rating_form > *:nth-child(8) {
      -ms-grid-row: 1;
      -ms-grid-column: 15;
    }
    #rating_form > *:nth-child(9) {
      -ms-grid-row: 1;
      -ms-grid-column: 17;
    }
    #rating_form > *:nth-child(10) {
      -ms-grid-row: 1;
      -ms-grid-column: 19;
    }
    #rating_form > *:nth-child(11) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    #rating_form > *:nth-child(12) {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
    #rating_form > *:nth-child(13) {
      -ms-grid-row: 3;
      -ms-grid-column: 5;
    }
    #rating_form > *:nth-child(14) {
      -ms-grid-row: 3;
      -ms-grid-column: 7;
    }
    #rating_form > *:nth-child(15) {
      -ms-grid-row: 3;
      -ms-grid-column: 9;
    }
    #rating_form > *:nth-child(16) {
      -ms-grid-row: 3;
      -ms-grid-column: 11;
    }
    #rating_form > *:nth-child(17) {
      -ms-grid-row: 3;
      -ms-grid-column: 13;
    }
    #rating_form > *:nth-child(18) {
      -ms-grid-row: 3;
      -ms-grid-column: 15;
    }
    #rating_form > *:nth-child(19) {
      -ms-grid-row: 3;
      -ms-grid-column: 17;
    }
    #rating_form > *:nth-child(20) {
      -ms-grid-row: 3;
      -ms-grid-column: 19;
    }
    .rating_title {
      text-align: center;
      font-family: 'Roboto-Regular';
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      margin-bottom: 0;
      position: relative;
      top: 51px;
    }
    .raiting {
      width: 345px;
    }
    .change_address {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1/2;
      -ms-grid-row: 8;
      -ms-grid-row-span: 1;
      grid-row: 8/9;
      margin-top: 53px;
    }
  .user_timestamp {
    margin-top: 92px;
  }
  .user_phone {
    top: 104px !important;
  }
  .user_payment {
    top: 115px !important;
  }
  .user_password {
    top: 84px !important;
  }
  #change {
    font-size: 17px;
  }
  .change_name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 5px;
    position: relative;
    top: 36px;
  }
  .user_name {
    font-size: 28px;
  }
  .footer_logo {
    width: 67px;
    height: auto;
  }
  #footer_phone {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    position: relative;
    left: -22px;
    top: -140px;
    color: white;
  }
  #footer_email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    top: -30px;
    left: -21px;
    position: relative;
    color: white;
  }
  #footer_offer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    margin-left: -248px;
    top: -103px;
    position: relative;
  }
  #footer_confidentiality {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    left: -23px;
    position: relative;
    width: 239px;
    top: -23px;
  }
  #footer_sentence {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    position: relative;
    top: 22px;
    left: -70px;
  }
  #footer_information {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: -2px;
    position: relative;
    width: 400px;
    top: 61px;
  }
  .nav_footer {
    font-family: 'Roboto-Light';
    color: white;
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .wrap_header {
     margin-left: -94px;
     margin-top: -10px;
   }
   #radio1 {
     border: none;
   }
   .mobile_menu {
     display: -ms-grid;
     display: grid;
     position: absolute;
     width: 177px;
     height: 300px;
     background: #000000;
     left: -400px;
     top: 2px;
     z-index: 100;
     color: white;
     -webkit-transition: 0.2s;
     -o-transition: 0.2s;
     transition: 0.2s;
     padding: 25px 0;
   }
   #mob_enter, #mob_order {
     font-weight: 700;
     font-family: 'Roboto-Regular';
   }
   .mobileAppear {
     left: 0px;
   }
   .mobile_each {
     font-size: 16px;
     font-family: 'ROBOTO-LIGHT';
     line-height: 25px;
     text-decoration: underline;
     position: relative;
     left: 19px;
     width: 158px;
     color: white;
   }
   .specialHead {
     margin-left: -853px !important;
     position: absolute;
   }
   .clsProf {
     left: 318px !important;
     top: 27px !important;
   }
   .wrap_roseeProf, .header_logoProf {
     left: 45px !important;
     top: 4px !important;
   }
   .headForOrder {
     margin-left: 87px !important;
     margin-top: 42px !important;
   }
   #user {
     position: relative;
     top: 64px;
     font-size: 17px;
   }
   .wrap_Footer {
     background: url('../images/Без имени-2 2.svg');
     background-size: cover;
   }
   .wrap_order_foot {
     top: -215px;
   }
   .change_email {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     -ms-grid-row: 2;
     -ms-grid-row-span: 1;
     grid-row: 2/3;
     margin-top: 98px;
   }
   .change_password {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     -ms-grid-row: 4;
     -ms-grid-row-span: 1;
     grid-row: 4/5;
     margin-top: 47px;
   }
   .change_phone {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     position: relative;
     top: 134px;
   }
   .change_period {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     -ms-grid-row: 5;
     -ms-grid-row-span: 1;
     grid-row: 5/6;
     margin-top: 4px;
     position: relative;
     top: 144px;
   }
   .change_card {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     -ms-grid-row: 6;
     -ms-grid-row-span: 1;
     grid-row: 6/7;
     margin-top: 190px;
   }
   .user_card {
     top: 132px !important;
   }
   .user_address {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     -ms-grid-row: 8;
     -ms-grid-row-span: 1;
     grid-row: 8/9;
     top: 124px !important;
   }
   .cancel_sub {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1/2;
     -ms-grid-row: 7;
     -ms-grid-row-span: 1;
     grid-row: 7/8;
     margin-top: 270px;
     color: #808080;
   }
   .rating {
     width: 366px;
     position: relative;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     margin-top: 123px;
     left: -15px;
   }
   .rating2 {
     display: -ms-grid;
     display: grid;
     width: 300px;
     top: 21px;
   }
   .label_rating {
     width: 56px;
     height: 56px;
   }
   .numbers {
     font-size: 17px;
   }
   .have_a_quest {
     font-weight: 600;
     font-size: 20px;
     line-height: 70px;
     color: black;
     margin-top: 0;
   }
   .questions2 {
     position: relative;
     width: 300px;
     top: -53px;
   }
   .second_section {
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1 / 2;
     margin-top: -33px;
     width: 347px;
   }
   .second_section > form {
     width: 100%
   }
   .questions_name, .questions_mail, .questions_input {
     width: 100%;
     font-size: 16px;
     background: white;
   }
   .questions_name, .questions_mail {
     height: 51px;
   }
   .wrap_prof_footer {
     margin-top: 1660px;
   }
   .questions_button {
     width: 156px;
     height: 51px;
     font-size: 19px;
   }
   .have_a_quest2 {
     font-weight: 400;
     font-size: 12px;
     line-height: 20px;
     position: relative;
     top: -34px;
     font-family: 'Manrope-Light';
     width: 213px;
   }
   #rating_form {
     display: -ms-grid;
     display: grid;
     margin-top: 50px;
     -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
     grid-template-columns: repeat(10, 1fr);
     width: 100%;
     -ms-grid-rows: 1fr 26px 1fr;
     grid-template-rows: repeat(2, 1fr);
     height: 116px;
     grid-gap: 26px 2px;
     position: relative;
     left: 21px;
   }
   #rating_form > *:nth-child(1) {
     -ms-grid-row: 1;
     -ms-grid-column: 1;
   }
   #rating_form > *:nth-child(2) {
     -ms-grid-row: 1;
     -ms-grid-column: 3;
   }
   #rating_form > *:nth-child(3) {
     -ms-grid-row: 1;
     -ms-grid-column: 5;
   }
   #rating_form > *:nth-child(4) {
     -ms-grid-row: 1;
     -ms-grid-column: 7;
   }
   #rating_form > *:nth-child(5) {
     -ms-grid-row: 1;
     -ms-grid-column: 9;
   }
   #rating_form > *:nth-child(6) {
     -ms-grid-row: 1;
     -ms-grid-column: 11;
   }
   #rating_form > *:nth-child(7) {
     -ms-grid-row: 1;
     -ms-grid-column: 13;
   }
   #rating_form > *:nth-child(8) {
     -ms-grid-row: 1;
     -ms-grid-column: 15;
   }
   #rating_form > *:nth-child(9) {
     -ms-grid-row: 1;
     -ms-grid-column: 17;
   }
   #rating_form > *:nth-child(10) {
     -ms-grid-row: 1;
     -ms-grid-column: 19;
   }
   #rating_form > *:nth-child(11) {
     -ms-grid-row: 3;
     -ms-grid-column: 1;
   }
   #rating_form > *:nth-child(12) {
     -ms-grid-row: 3;
     -ms-grid-column: 3;
   }
   #rating_form > *:nth-child(13) {
     -ms-grid-row: 3;
     -ms-grid-column: 5;
   }
   #rating_form > *:nth-child(14) {
     -ms-grid-row: 3;
     -ms-grid-column: 7;
   }
   #rating_form > *:nth-child(15) {
     -ms-grid-row: 3;
     -ms-grid-column: 9;
   }
   #rating_form > *:nth-child(16) {
     -ms-grid-row: 3;
     -ms-grid-column: 11;
   }
   #rating_form > *:nth-child(17) {
     -ms-grid-row: 3;
     -ms-grid-column: 13;
   }
   #rating_form > *:nth-child(18) {
     -ms-grid-row: 3;
     -ms-grid-column: 15;
   }
   #rating_form > *:nth-child(19) {
     -ms-grid-row: 3;
     -ms-grid-column: 17;
   }
   #rating_form > *:nth-child(20) {
     -ms-grid-row: 3;
     -ms-grid-column: 19;
   }
   .rating_title {
     text-align: center;
     font-family: 'Roboto-Regular';
     font-weight: 400;
     font-size: 17px;
     line-height: 27px;
     margin-bottom: 0;
     position: relative;
     top: 51px;
   }
  .raiting {
    width: 345px;
  }
  .change_address {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1/2;
   -ms-grid-row: 8;
   -ms-grid-row-span: 1;
   grid-row: 8/9;
   margin-top: 53px;
 }
 .user_timestamp {
   margin-top: 92px;
 }
 .user_phone {
   top: 104px !important;
 }
 .user_payment {
   top: 115px !important;
 }
 .user_password {
   top: 84px !important;
 }
 #change {
   font-size: 17px;
 }
 .change_name {
   -ms-grid-column: 1;
   -ms-grid-column-span: 1;
   grid-column: 1/2;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   margin-top: 5px;
   position: relative;
   top: 36px;
 }
 .user_name {
   font-size: 28px;
 }
 .wrap_footer_rosee {
   top: -231px;
   -ms-grid-column: 4;
   -ms-grid-column-span: 1;
   grid-column: 4/5;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: start;
   width: 100%;
   position: relative;
   left: -26px;
 }
 .footer_logo {
   width: 67px;
   height: auto;
 }
 #footer_phone {
   -ms-grid-column: 3;
   -ms-grid-column-span: 2;
   grid-column: 3/5;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   position: relative;
   left: -60px;
   top: -165px;
   color: white;
 }
 #footer_email {
   -ms-grid-column: 4;
   -ms-grid-column-span: 1;
   grid-column: 4/5;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   top: -165px;
   position: relative;
   color: white;
 }
 #footer_offer {
   -ms-grid-column: 3;
   -ms-grid-column-span: 1;
   grid-column: 3/4;
   -ms-grid-row: 1;
   -ms-grid-row-span: 1;
   grid-row: 1/2;
   -webkit-text-decoration-line: underline;
           text-decoration-line: underline;
   margin-left: 201px;
   top: -103px;
   position: relative;
 }
 #footer_confidentiality {
   -ms-grid-column: 3;
   -ms-grid-column-span: 1;
   grid-column: 3/4;
   -ms-grid-row: 2;
   -ms-grid-row-span: 1;
   grid-row: 2/3;
   -webkit-text-decoration-line: underline;
           text-decoration-line: underline;
   left: 175px;
   position: relative;
   width: 195px;
   top: -143px;
 }
 #footer_sentence {
   -ms-grid-column: 4;
   -ms-grid-column-span: 1;
   grid-column: 4/5;
   -ms-grid-row: 2;
   -ms-grid-row-span: 1;
   grid-row: 2/3;
   -webkit-text-decoration-line: underline;
           text-decoration-line: underline;
   position: relative;
   top: -114px;
   left: -90px;
 }
 #footer_information {
   -ms-grid-column: 4;
   -ms-grid-column-span: 1;
   grid-column: 4/5;
   -ms-grid-row: 1;
   -ms-grid-row-span: 2;
   grid-row: 1/3;
   margin-left: 23px;
   position: relative;
   width: 400px;
   top: 23px;
 }
 .nav_footer {
   font-family: 'Roboto-Light';
   color: white;
   font-size: 13px;
 }
}
