.animationMove, .move1 {
  transform: translateY(513px) !important;
  left: 215px !important;
  transition: 0.5s;
  width: 92% !important;
}
.animationMove2 {
  transform: translateY(1092px) !important;
  left: -5px !important;
  transition: 1.5s;
  width: 556px !important;
}
#mask5, #mask9, #mask13 {
  grid-column: 3 / 4;
}
