@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.eot');
    src: url('../../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Light.woff') format('woff'),
    url('../../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.eot');
    src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Regular.woff') format('woff'),
    url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Light';
    src: url('../../fonts/Manrope-Light.eot');
    src: url('../../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Light.woff') format('woff'),
    url('../../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url('../../fonts/Manrope-Medium.eot');
    src: url('../../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Medium.woff') format('woff'),
    url('../../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Manrope-Regular';
  src: url('../../fonts/Manrope-Regular.eot');
  src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Manrope-Regular.woff') format('woff'),
  url('../../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url('../../fonts/Manrope-Bold.eot');
    src: url('../../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Bold.woff') format('woff'),
    url('../../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter-Bold.eot');
    src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Inter-Bold.woff') format('woff'),
    url('../../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Butler-Bold';
  src: url('../../fonts/Butler-Bold.eot');
  src: url('../../fonts/Butler-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Butler-Bold.woff') format('woff'),
  url('../../fonts/Butler-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Manrope-Medium';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fafafa;
}
.wrap_header{
	position: absolute;
	display: grid;
	grid-template-columns:87px 2fr 2fr 2fr 149px 110px 95px 91px 60px;
	grid-column-gap:37px;
	margin-top:25px;
	justify-items:center;
	align-items:center;
  width: 1320px;
  height: 50px;
}
.wrapMain_header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header_logo{
	width: 86px;
	height: 25px;
	grid-column:2/3;
}
.nav_header{
	font-weight: 400;
	font-size: 21px;
	line-height: 34px;
	color: #525252;
	font-family: 'Roboto-Regular';
	text-decoration:none;
  cursor: pointer;
	text-decoration-line: underline;
}

.wrap_cosmeticMasks {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cosmeticMasks{
	margin-top:150px;
  width: 1320px;
  height: 1000px;
	position: relative;
	display: grid;
	grid-template-columns:10% 3fr 5fr 7%;
	grid-template-rows:250px 180px 100px;
	grid-column-gap:35px;
}
.mask_phone{
  display: none;
}
#masks_sub_phone{
  display: none;
}
.advantages_phone{
  display: none;
}
.our_advantages_phone{
  display: none;
}
.masks_title{
	grid-column:1/3;
	grid-row:1/2;
	font-weight: 600;
	font-size: 40px;
	line-height: 65px;
	color: #242424;
  transition: 0.5s;
}
.masks_subtitle{
  top: -21px;
  position: relative;
  font-family: 'Manrope-Regular';
	grid-column:1/3;
	grid-row:2/3;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	color: #000000;
  transition: 0.5s;
}
#masks_order{
	background: #00C187;
	border: 3px solid #00C187;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration:none;
	width: 170px;
	height: 70px;
	grid-column:1/2;
	grid-row:3/4;
	padding:17px 32px;
	text-align:center;
	vertical-align: middle;
	margin-top:-21px;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'Manrope-Regular';
}
#masks_buy{
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #000000;
	text-decoration:underline;
	margin-left:55px;
	margin-top:-8px;
	grid-column:1/3;
	grid-row:3/4;
  transition: 0.5s;
}
.wrap_allEvery {
  position: sticky;
  top: 10px;
  grid-column: 1 / 3;
  z-index: 1;
}
.wrap_lottie {
  position: sticky;
  top: 20px;
}
#lottie-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  position: relative;
  z-index: -1;
  transition: 0.5s;
  width: 180%;
  left: -141px;
}
.wrap_rosee {
  grid-column: 1 / 4;
  display: flex;
  justify-content: start;
  width: 100%;
}
#header_buy {
  left: 22px;
}
#delivery {
  left: 26px;
}
#inside {
  left: 17px;
  cursor: pointer;
}
.every_p {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #242424;
  opacity: 0.2;
}
.order_bottom {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    opacity: 0.3;
    border: 3px solid #00c187;
    border-radius: 10px;
    width: 175px;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    fony-family: 'Manrope';
    top: -20px;
}
.buy_present {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  left: 226px;
  top: -73px;
}
.everyWeek {
  position: relative;
  grid-template-columns: 12% 1fr 1fr;
  display: grid;
  width: 1320px;
}
.every_p2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  top: -27px;
}
.wrap_everyWeek {
  width: 100%;
  display: flex;
  justify-content: center;
}
