.wrap_userData{
  	justify-content: center;
  	width: 100%;
    position: relative;
}
.wrap_cancel {
  position: absolute;
  height: 100%;
}
.cancel2 {
   top: 37%;
   position: -webkit-sticky;
   position: sticky;
   background: bisque;
   width: 600px;
   z-index: 1000;
   height: 233px;
   margin-left: 60%;
   display: none;
   -ms-grid-columns: (1fr)[2];
   grid-template-columns: repeat(2, 1fr);
   -ms-grid-rows: (1fr)[2];
   grid-template-rows: repeat(2, 1fr);
} .h > *:nth-child(1) {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
} .h > *:nth-child(2) {
   -ms-grid-row: 1;
   -ms-grid-column: 2;
} .h > *:nth-child(3) {
   -ms-grid-row: 2;
   -ms-grid-column: 1;
} .h > *:nth-child(4) {
   -ms-grid-row: 2;
   -ms-grid-column: 2;
}
.sure_cancel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: 'Roboto-Regular';
}
#cancel_yes {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  background-color: aliceblue;
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  left: 130px;
  top: 32px;
}
#cancel_no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 40px;
  background-color: aliceblue;
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  top: 16px;
  left: 71px;
  cursor: pointer;
}
.closeSubs {
  display: none;
}
.openSubs {
  display: -ms-grid;
  display: grid;
}
.userData{
	position: relative;
	display: grid;
	grid-template-columns:300px 216px 609px;
	grid-template-rows:70px repeat(5, 40px) 30px;
	grid-column-gap:90px;
	grid-row-gap: 30px;
	margin-top:114px;
 	width: 1320px;
}
#user{
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	margin-top: 0;
}
.user_name{
	grid-column:1/2;
	grid-row:1/2;
	font-family: 'Manrope-Bold';
	font-weight: 700;
	font-size: 35px;
	line-height: 43px;
	margin-top: 0;
}
.user_email{
	grid-column:1/2;
	grid-row:2/3;
}
.user_password{
	grid-column:1/2;
	grid-row:3/4;
}
.user_phone{
	grid-column:1/2;
	grid-row:4/5;
}
.user_payment{
	grid-column:1/2;
	grid-row:5/6;
}
.user_card{
	grid-column:1/2;
	grid-row:6/7;
}
.user_timestamp{
	grid-column:1/2;
	grid-row:7/8;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #414141;
	margin-top: -22px;
}
.user_address{
	grid-column:3/4;
	grid-row:2/6;
}
#change{
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #808080;
	text-decoration-line: underline;
}
.change_name{
	grid-column:2/3;
	grid-row:1/2;
	margin-top: 5px;
}
.change_email{
	grid-column:2/3;
	grid-row:2/3;
	margin-top: 4px;
}
.change_password{
	grid-column:2/3;
	grid-row:3/4;
	margin-top: 4px;
}
.change_phone{
	grid-column:2/3;
	grid-row:4/5;
	margin-top: 4px;
}
.change_period{
	grid-column:2/3;
	grid-row:5/6;
	margin-top: 4px;
}
.change_card{
	grid-column:2/3;
	grid-row:6/7;
	margin-top: 4px;
}
.change_address{
  position: relative;
  top: 100px;
	grid-column:3/4;
	grid-row:2/6;
	margin-top: 40px;
}
.cancel_sub{
	grid-column:3/4;
	grid-row:7/8;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	color: #000000;
	text-decoration-line: underline;
	margin-top: -22px;
  cursor: pointer;
}
.rating_title{
	text-align: center;
	font-family: 'Roboto-Regular';
	font-weight: 400;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 0;
  position: relative;
  top: 17px;
}
.rating{
	width: 1320px;
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 82px;
}
.rating2{
	width: 1320px;
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 140px;
}
#rating_form{
	display: flex;
	margin-top: 50px;
}
.rating_input{
	appearance: none;
	-webkit-appearance: none;
}
.label_rating{
	text-align: center;
	width: 62px;
	height: 60px;
	border: 2px solid #54854A;
	box-sizing: border-box;
	border-radius: 9px;
	position: relative;
	margin: 0;
	cursor: pointer;
	color: #54854A;
	margin-right: 5px;
}
.numbers{
	font-size: 22px;
	line-height: 32px;
	padding-top: 13px;
	font-family: 'Manrope-Bold';
}
.rating_input:checked + .label_rating{
	background: #54854A;
	color: #ffffff;
}
.call_us{
	border-bottom: 0.5px solid #000000;
}
.wrap_prof_footer {
  margin-top: 1367px;
  position: relative;
  width: 100%;
  height: 100%;
}
.wrap_order_foot {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}

