.wrap_Promotions{
	display: none;
	justify-content: center;
	width: 100%;
}
.promotions{
	margin-top:400px;
	position:relative;
	display:grid;
	grid-template-columns:repeat(3, 420px);
	grid-gap:30px;
	grid-template-rows:100px repeat(2, 215px);
	width: 1320px;
}
.promotions_title{
	grid-column:1/2;
	grid-row:1/2;
	font-size: 50px;
	line-height: 70px;
	color: #5B5464;
	font-weight: 600;
	margin:0;
	position: relative;
	top: 32px;
}
.masks_promotions{
	width: 419px;
	height: 213px;
}
.wrap_promotions1{
	grid-column:1/2;
	grid-row:2/3;
}
.wrap_promotions2{
	grid-column:1/2;
	grid-row:3/4;
}
.wrap_promotions3{
	grid-column:2/3;
	grid-row:2/3;
}
.wrap_promotions4{
	grid-column:2/3;
	grid-row:3/4;
}
.wrap_promotions5{
	grid-column:3/4;
	grid-row:2/3;
}
.wrap_promotions6{
	grid-column:3/4;
	grid-row:3/4;
}
.wrap_Footer{
	display: flex;
	width: 100%;
	background: url('../images/Group 34.png') no-repeat center;
	background-size: cover;
	position: absolute;
	margin-top: -100px;
	justify-content: center;
}
.footer{
	position: relative;
	display: grid;
	grid-template-columns:89px 160px 120px 325px 420px;
	grid-template-rows: 43px 35px;
	grid-column-gap:44px;
	grid-row-gap: 30px;
	margin-top:270px;
	margin-bottom:44px;
	justify-items:center;
	align-items:center;
	padding-top:400px;
	width: 1320px;
}
.wrap_footer_rosee{
	grid-column:1/2;
	grid-row: 1/2;
	justify-content: start;
	width: 100%;
}
.footer_logo{
	width: 89px;
	height: 27px;
}
.nav_footer{
	font-weight: 400;
	font-size: 21px;
	line-height: 34px;
	color: #98AA9A;
	font-family: 'Roboto-Regular';
}
#footer_offer{
	grid-column:1/2;
	grid-row: 2/3;
	text-decoration-line: underline;
	margin-left: -15px;
}
#footer_confidentiality {
	grid-column:2/4;
	grid-row: 2/3;
	text-decoration-line: underline;
}
#footer_sentence {
	grid-column:4/5;
	grid-row: 2/3;
	text-decoration-line: underline;
}
#footer_phone{
	grid-column:2/3;
	grid-row: 1/2;
}
#footer_email{
	grid-column:3/4;
	grid-row: 1/2;
}
#footer_information{
	grid-column:5/6;
	grid-row: 1/3;
	margin-left: 50px;
}
.information_1{
	margin: 0;
}
.information_2{
	margin: 0;
}
.information_3{
	margin: 0;
}
.wrap_questions2 {
	position: relative;
  	display: flex;
  	justify-content: center;
  	top: 450px;
	z-index: 1;
}
.questions2 {
	width: 1320px;
 	display: grid;
  	grid-template-columns: 582px 630px;
	grid-column-gap: 78px;
}
.first_section {
	grid-column: 1 / 2;
	z-index: 1;
}
.second_section{
	grid-column: 2 / 3;
	margin-top: 15px;
	z-index: 1;
}
.questions_name{
	width: 630px;
	height: 71px;
	border: 2px solid #54854A;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 25px;
	line-height: 41px;
	font-family: 'Manrope-Light';
	color: #808080;
	padding-left: 28px;
	background: transparent;
}
.questions_mail{
	grid-row:2/3;
	width: 630px;
	height: 71px;
	border: 2px solid #54854A;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 25px;
	line-height: 41px;
	font-family: 'Manrope-Light';
	color: #808080;
	padding-left: 28px;
	margin-top: 16px;
	background: transparent;
}
.questions_input{
	grid-row: 3/4;
	width: 630px;
	height: 215px;
	border: 2px solid #54854A;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 25px;
	line-height: 41px;
	font-family: 'Manrope-Light';
	color: #808080;
	padding-left: 28px;
	padding-top: 14px;
	margin-top: 16px;
	resize: none;
	background: transparent;
}
.questions_button{
	grid-row: 4/5;
	width: 240px;
	height: 68px;
	border: none;
	background: #54854A;
	font-weight: 700;
	font-size: 31px;
	line-height: 40px;
	font-family: 'Manrope-Bold';
	color: #FFFFFF;
	margin-top: 16px;
	cursor: pointer;
}
.have_a_quest {
	font-weight: 600;
  	font-size: 50px;
  	line-height: 70px;
  	color: #5D8655;
	margin-top: 0;
}
.have_a_quest2 {
	font-weight: 400;
	font-size: 25px;
	line-height: 41px;
	position: relative;
	top: -43px;
	font-family: 'Manrope-Light';
}
.buy_link {
	color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
	outline: none;
}
textarea{
	outline: none;
}

.wrap_Order{
	display: flex;
	justify-content: center;
	width: 100%;
}
.order{
	width: 1320px;
	margin-top: 155px;
	display: grid;
	grid-template-columns:200px 630px 400px;
	grid-template-rows:110px 75px 70px 80px 150px 90px 210px 160px;
	grid-row-gap:20px;
	grid-column-gap:45px;
}
.order_title{
	font-weight: 600;
   font-size: 35px;
   line-height: 43px;
   color: #000000;
	margin-top: 35px;
}
.order_text{
	font-weight: 700;
   font-size: 25px;
   line-height: 32px;
   color: #000000;
	margin: 0;
	font-family: 'Inter-Bold';
}
.order_name{
	grid-column:1/2;
	grid-row:2/3;
	margin-top: 15px;
}
.order_telephone{
	grid-column:1/2;
	grid-row:3/4;
	margin-top: 15px;
}
.order_mail{
	grid-column:1/2;
	grid-row:5/6;
	margin-top: 15px;
}
.order_address{
	grid-column:1/2;
	grid-row:6/7;
	margin-top: 5px;
}
.order_comments{
	grid-column:1/2;
	grid-row:7/8;
	margin-top: 15px;
}
