.name_input{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:2;
	-ms-grid-row-span:1;
	grid-row:2/3;
	font-size: 18px;
	font-family: 'Manrope-Medium';
	width: 630px;
	height: 70px;
	background: #DDDDDD;
	border-radius: 10px;
	border: none;
	font-size: 25px;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.telephone_input{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:3;
	-ms-grid-row-span:1;
	grid-row:3/4;
	width: 250px;
	height: 70px;
	border-radius: 10px;
	background: #DDDDDD;
	font-size: 25px;
	border: none;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.mail_input{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:5;
	-ms-grid-row-span:1;
	grid-row:5/6;
	width: 630px;
	height: 70px;
	border-radius: 10px;
	background: #DDDDDD;
	font-size: 25px;
	border: none;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.radio{
	position: relative;
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:5;
	-ms-grid-row-span:1;
	grid-row:5/6;
	margin-top: 90px;
	height: 60px;
}
.radio_input{
	-moz-appearance: none;
	     appearance: none;
	-webkit-appearance: none;
	position: absolute;
}
.radio_label{
	font-size: 18px;
	line-height: 29px;
	font-weight: 400;
	color: #000000;
	padding-left: 42px;
}
.radio_label:before{
	content: "";
	display: block;
	width: 29px;
	height: 29px;
	border: 2px solid #000000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.radio_input:checked + .radio_label:before{
	background: #54854A;
	border: none;
}
.address_input{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:6;
	-ms-grid-row-span:1;
	grid-row:6/7;
	width: 630px;
	height: 70px;
	border-radius: 10px;
	background: #DDDDDD;
	font-size: 25px;
	border: none;
	resize: none;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 20px;
}
.comments{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:7;
	-ms-grid-row-span:1;
	grid-row:7/8;
	width: 630px;
	height: 210px;
	border-radius: 10px;
	background: #DDDDDD;
	font-size: 25px;
	resize: none;
	border: none;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 20px;
}
.passwordname{
	font-weight: 700;
   font-size: 25px;
   line-height: 32px;
   color: #000000;
	margin: 0;
	-ms-grid-column:1;
	-ms-grid-column-span:1;
	grid-column:1/2;
	-ms-grid-row:4;
	-ms-grid-row-span:1;
	grid-row:4/5;
	font-family: 'Inter-Bold';
}
.password_field{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:4;
	-ms-grid-row-span:1;
	grid-row:4/5;
	width: 630px;
	height: 70px;
	border-radius: 10px;
	background: #DDDDDD;
	font-size: 25px;
	border: none;
	margin-left: 245px;
	margin-top: -60px;
	padding-left: 28px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.order_title2{
	-ms-grid-column:2;
	-ms-grid-column-span:2;
	grid-column:2/4;
	-ms-grid-row:1;
	-ms-grid-row-span:1;
	grid-row:1/2;
	font-weight: 700;
   font-size: 35px;
   line-height: 43px;
	color: #54854A;
}
.order_addition{
	font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #000000;
	margin-top: 10px;
	font-family: 'Manrope-Medium';
}
#addition1{
	-ms-grid-column:3;
	-ms-grid-column-span:1;
	grid-column:3/4;
	-ms-grid-row:2;
	-ms-grid-row-span:1;
	grid-row:2/3;
}
#addition2{
	-ms-grid-column:3;
	-ms-grid-column-span:1;
	grid-column:3/4;
	-ms-grid-row:3;
	-ms-grid-row-span:1;
	grid-row:3/4;
}
#addition3{
	-ms-grid-column:3;
	-ms-grid-column-span:1;
	grid-column:3/4;
	-ms-grid-row:4;
	-ms-grid-row-span:1;
	grid-row:4/5;
}
#addition4{
	-ms-grid-column:3;
	-ms-grid-column-span:1;
	grid-column:3/4;
	-ms-grid-row:5;
	-ms-grid-row-span:1;
	grid-row:5/6;
}
#addition5{
	-ms-grid-column:3;
	-ms-grid-column-span:1;
	grid-column:3/4;
	-ms-grid-row:6;
	-ms-grid-row-span:1;
	grid-row:6/7;
}
#addition6{
	-ms-grid-column:3;
	-ms-grid-column-span:1;
	grid-column:3/4;
	-ms-grid-row:7;
	-ms-grid-row-span:1;
	grid-row:7/8;
}
.order_text2{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:8;
	-ms-grid-row-span:1;
	grid-row:8/9;
	font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #000000;
	font-family: 'Manrope-Medium';
	margin-top: 40px;
	margin-left: 270px;
}
.order_text3{
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
	-ms-grid-row:8;
	-ms-grid-row-span:1;
	grid-row:8/9;
	font-weight: 400;
   font-size: 12px;
   line-height: 19px;
   color: #808080;
	font-family: 'Manrope-Medium';
	margin-top: 110px;
}
