.add1, .add2, .add3, .add4, .add5 {
  position: relative;
  background: transparent;
}
#add1f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
#add2f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
#add3f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
#add4f {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}
#add5f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}
#bt1 {
  position: absolute;
  top: 71px;
}
#btn2 {
  position: absolute;
  top: 116px;
}
#btn3 {
  position: relative;
  top: 58px;
}
#btn4 {
  position: relative;
  top: 14px;
  left: -76px;
  float: right;
}
.user_name {
  width: 235px;
}
.user_email {
  width: 257px;
}
.user_phone {
  width: 217px;
  top: 64px;
  height: 47px;
}
.user_address {
  width: 600px;
  height: 125px;
}
.change_address {
  top: 103px;
  width: 150px;
  height: 30px;
}
