.DeliverySection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 5321px;
}
.DeliverySecrion h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;
    color: #5B5464;
}
.DeliverySecrion h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 27.0076px;
    line-height: 140%;
    color: #000000;
}
.DeliverySecrion p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #000000;
}
.DeliveryGrid {
    display: -ms-grid;
    display: grid;
    width: 1320px;
    grid-column-gap: 160px;
    grid-row-gap: 13px;
    -ms-grid-rows: 86px 13px 38px 13px 160px;
    grid-template-rows: 86px 38px 160px;
    -ms-grid-columns: 500px 160px 500px;
    grid-template-columns: 500px 500px;
}
.DeliveryGrid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.DeliveryGrid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.DeliveryGrid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.DeliveryGrid > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}
.DeliveryGrid > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.DeliveryGrid > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}
.DeliveryFree {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0px 0px 12px 0px;
  color: #5B5464;
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
}
.DeliveryInMailBox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0px 0px 0px 0px;
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  font-family: 'Manrope-Bold';
  width: 425px;
}
.DeliveryText1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin:0px 0px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 500px;
    font-family: 'Manrope-Light';
}
.forRF {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin:0px 0px 0px 0px;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    font-family: 'Manrope-Bold';
    width: 318px;
}
.DeliveryText2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin:0px 0px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 500px;
    font-family: 'Manrope-Light';
}
.Free {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin:0px 0px 0px 0px;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    font-family: 'Manrope-Bold';
    width: 240px;
}
.DeliveryText3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin:-43px 0px 0px 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    width: 323px;
    font-family: 'Manrope-Light';
}
.wrap_Buy {
    position: relative;
    top: 164px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.buyBlock {
  width: 1404px;
  height: 586px;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  position: relative;
  left: 56px;
}
.buyBlock > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.buyBlock > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
.buyBlock > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.buyBlock > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.buyBlock > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.buyBlock > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}
.buyBlock > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
}
.buyBlock > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
}
.wrap_skinImages {
  position: relative;
  top: 100px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}
#tree {
  position: absolute !important;
  left: -282px;
  z-index: -1;
  top: -36px;
  mix-blend-mode: multiply;
}
#face {
  position: absolute !important;
  top: 18px;
}
.qty {
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  color: #5B5464;
  font-family: 'Manrope-Bold';
  width: 609px;
}
.chooseSecond {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: -53px;
}
.forMyself {
  cursor: pointer;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(48%, #54854A), color-stop(0%, rgba(255,255,255,0))) !important;
  background-image: -o-linear-gradient(left, #54854A 48%, rgba(255,255,255,0) 0%) !important;
  background-image: linear-gradient(to right, #54854A 48%, rgba(255,255,255,0) 0%) !important;
  background-position: bottom !important;
  background-size: 36px 2px !important;
  background-repeat: repeat-x !important;
  color: #54854A !important;
}
.specDashed {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(48%, #5B5464), color-stop(0%, rgba(255,255,255,0)));
  background-image: -o-linear-gradient(left, #5B5464 48%, rgba(255,255,255,0) 0%);
  background-image: linear-gradient(to right, #5B5464 48%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 36px 2px;
  background-repeat: repeat-x;
}
.typeOfSkin {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-family: 'Manrope-Bold';
}
.combi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 25px;
  position: relative;
  top: -10px;
  width: 286px;
  height: 71px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #333333;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.fatty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 25px;
  position: relative;
  width: 153px;
  height: 71px;
  left: 313px;
  top: -105px;
  border: 2px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.dry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 25px;
  position: relative;
  width: 127px;
  height: 71px;
  left: 493px;
  top: -200px;
  border: 2px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
}
.payment1 {
  position: relative;
  top: -282px;
}
.payment2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-family: 'Manrope-Bold';
}
.once {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 202px;
  height: 71px;
  border: 2px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: #333333;
  font-size: 24px;
  line-height: 31px;
  top: -10px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Manrope-Bold';
  text-decoration: none;
}
.activeOnce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 202px;
  height: 71px;
  border: 2px solid #54854A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: #54854A;
  font-size: 24px;
  line-height: 31px;
  top: -10px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Manrope-Bold';
  text-decoration: none;
}
.sixMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px;
  position: absolute;
  width: 264px;
  height: 71px;
  border: 2px solid #333333;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  top: 68px;
  left: 229px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
  text-decoration: none;
}
.activeSixMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px;
  position: absolute;
  width: 264px;
  height: 71px;
  border: 2px solid #54854A;
  color: #54854A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  top: 68px;
  left: 229px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
  text-decoration: none;
}
.everyYear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px;
  position: absolute;
  width: 177px;
  height: 71px;
  border: 2px solid #333333;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  top: 68px;
  left: 520px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
  text-decoration: none;
}
.activeEveryYear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px;
  position: absolute;
  width: 177px;
  height: 71px;
  border: 2px solid #54854A;
  color: #54854A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  top: 68px;
  left: 520px;
  cursor: pointer;
  font-family: 'Manrope-Bold';
  text-decoration: none;
}
.makePayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 240px;
  height: 68px;
  background: #54854A;
  color: #ffffff;
  font-weight: 700;
  font-size: 31px;
  line-height: 40px;
  cursor: pointer;
  top: -21px;
  font-family: 'Manrope-Bold';
}
.wrap_pay {
  position: relative;
  top: -250px;
}
.priceNew {
  position: relative;
  left: 282px;
  top: -124px;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #54854A;
  font-family: 'Manrope-Bold';
}
.month1 {
  position: relative;
  top: -155px;
  left: 282px;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
  color: #616161;
}
.oldPrice {
  position: relative;
  left: 445px;
  top: -243px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #616161;
  text-decoration: line-through;
}
.sixtheen {
  position: relative;
  top: 54px;
}
.presents {
  cursor: pointer;
  text-decoration: none;
  color: #5B5464;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(48%, #5B5464), color-stop(0%, rgba(255,255,255,0)));
  background-image: -o-linear-gradient(left, #5B5464 48%, rgba(255,255,255,0) 0%);
  background-image: linear-gradient(to right, #5B5464 48%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 36px 2px;
  background-repeat: repeat-x;
}
