@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.eot');
    src: url('../../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Light.woff') format('woff'),
    url('../../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.eot');
    src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Regular.woff') format('woff'),
    url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Light';
    src: url('../../fonts/Manrope-Light.eot');
    src: url('../../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Light.woff') format('woff'),
    url('../../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url('../../fonts/Manrope-Medium.eot');
    src: url('../../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Medium.woff') format('woff'),
    url('../../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Manrope-Regular';
  src: url('../../fonts/Manrope-Regular.eot');
  src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Manrope-Regular.woff') format('woff'),
  url('../../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url('../../fonts/Manrope-Bold.eot');
    src: url('../../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Bold.woff') format('woff'),
    url('../../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter-Bold.eot');
    src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Inter-Bold.woff') format('woff'),
    url('../../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Butler-Bold';
  src: url('../../fonts/Butler-Bold.eot');
  src: url('../../fonts/Butler-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Butler-Bold.woff') format('woff'),
  url('../../fonts/Butler-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Manrope-Medium';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fafafa;
}
.wrap_header{
	position: absolute;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns:87px 37px 2fr 37px 2fr 37px 2fr 37px 149px 37px 110px 37px 95px 37px 91px 37px 60px;
	grid-template-columns:87px 2fr 2fr 2fr 149px 110px 95px 91px 60px;
	grid-column-gap:37px;
	margin-top:25px;
	justify-items:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
  width: 1320px;
  height: 50px;
}
.cls {
  display: none;
}
.specialHead {
  margin-left: 648px !important;
  margin-top: -25px !important;
}
.clsProf {
  display: -ms-grid !important;
  display: grid !important;
}
.wrap_roseeProf {
  position: relative;
  left: 107px;
  top: 63px;
}
.mobile_menu {
  display: none;
}
.adv {
  position: relative;
  left: -788px !important;
  top: 20px;
}
.whatIns {
  position: relative;
  left: 868px !important;
  top: -14px;
}
.del {
  width: 73px;
  position: relative;
  left: 941px !important;
  top: -14px;
}
.ord {
  top: -14px;
  position: relative;
  left: -215px !important;
  width: 69px;
}
.ex {
  position: relative;
  left: 1363px !important;
  top: -64px;
}
.nav_header_order {
  font-size: 21px;
  line-height: 29px;
  color: #525252;
  cursor: pointer;
  position: relative;
  left: -108px;
  font-family: 'Roboto-Regular';
}
.order_spec {
  left: -386px !important;
}
.inside_spec {
  left: 15px !important;
}
.delivery_spec {
  left: 18px !important;
}
.wrapMain_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header_logo{
	width: 86px;
	height: 25px;
	-ms-grid-column:2;
	-ms-grid-column-span:1;
	grid-column:2/3;
}
.nav_header{
	font-weight: 400;
	font-size: 21px;
	line-height: 34px;
	color: #525252;
	font-family: 'Roboto-Regular';
	text-decoration:none;
  cursor: pointer;
	text-decoration: none;
}

.wrap_cosmeticMasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.cosmeticMasks{
	margin-top:150px;
  width: 1320px;
  height: 1000px;
	position: relative;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns:10% 35px 3fr 35px 5fr 35px 7%;
	grid-template-columns:10% 3fr 5fr 7%;
	-ms-grid-rows:250px 180px 100px;
	grid-template-rows:250px 180px 100px;
	grid-column-gap:35px;
}.cosmeticMasks > *:nth-child(1){
	-ms-grid-row:1;
	-ms-grid-column:1;
}.cosmeticMasks > *:nth-child(2){
	-ms-grid-row:1;
	-ms-grid-column:3;
}.cosmeticMasks > *:nth-child(3){
	-ms-grid-row:1;
	-ms-grid-column:5;
}.cosmeticMasks > *:nth-child(4){
	-ms-grid-row:1;
	-ms-grid-column:7;
}.cosmeticMasks > *:nth-child(5){
	-ms-grid-row:2;
	-ms-grid-column:1;
}.cosmeticMasks > *:nth-child(6){
	-ms-grid-row:2;
	-ms-grid-column:3;
}.cosmeticMasks > *:nth-child(7){
	-ms-grid-row:2;
	-ms-grid-column:5;
}.cosmeticMasks > *:nth-child(8){
	-ms-grid-row:2;
	-ms-grid-column:7;
}.cosmeticMasks > *:nth-child(9){
	-ms-grid-row:3;
	-ms-grid-column:1;
}.cosmeticMasks > *:nth-child(10){
	-ms-grid-row:3;
	-ms-grid-column:3;
}.cosmeticMasks > *:nth-child(11){
	-ms-grid-row:3;
	-ms-grid-column:5;
}.cosmeticMasks > *:nth-child(12){
	-ms-grid-row:3;
	-ms-grid-column:7;
}
.mask_phone{
  display: none;
}
#masks_sub_phone{
  display: none;
}
.advantages_phone{
  display: none;
}
.our_advantages_phone{
  display: none;
}
.masks_title{
	-ms-grid-column:1;
	-ms-grid-column-span:2;
	grid-column:1/3;
	-ms-grid-row:1;
	-ms-grid-row-span:1;
	grid-row:1/2;
	font-weight: 600;
	font-size: 40px;
	line-height: 65px;
	color: #242424;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.masks_subtitle{
  top: -21px;
  position: relative;
  font-family: 'Manrope-Regular';
	-ms-grid-column:1;
	-ms-grid-column-span:2;
	grid-column:1/3;
	-ms-grid-row:2;
	-ms-grid-row-span:1;
	grid-row:2/3;
	font-weight: 400;
	font-size: 24px;
	line-height: 39px;
	color: #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#masks_order{
	background: #00C187;
	border: 3px solid #00C187;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration:none;
	width: 170px;
	height: 70px;
	-ms-grid-column:1;
	-ms-grid-column-span:1;
	grid-column:1/2;
	-ms-grid-row:3;
	-ms-grid-row-span:1;
	grid-row:3/4;
	padding:17px 32px;
	text-align:center;
	vertical-align: middle;
	margin-top:-21px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'Manrope-Regular';
}
#masks_buy{
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #000000;
	text-decoration:underline;
	margin-left:55px;
	margin-top:-8px;
	-ms-grid-column:1;
	-ms-grid-column-span:2;
	grid-column:1/3;
	-ms-grid-row:3;
	-ms-grid-row-span:1;
	grid-row:3/4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.wrap_allEvery {
  position: -webkit-sticky;
  position: sticky;
  top: 165px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  z-index: 1;
}
.wrap_lottie {
  position: -webkit-sticky;
  position: sticky;
  top: 165px;
}
#lottie-1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  position: relative;
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 180%;
  left: -141px;
  top: -15px;
}
.wrap_rosee {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}
#header_buy {
  left: 22px;
}
#delivery {
  left: 26px;
}
#inside {
  left: 17px;
  cursor: pointer;
}
.every_p {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #242424;
  opacity: 0.2;
}
.order_bottom {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    opacity: 0.3;
    border: 3px solid #00c187;
    border-radius: 10px;
    width: 175px;
    position: relative;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fony-family: 'Manrope';
    top: -20px;
}
.buy_present {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  left: 226px;
  top: -73px;
}
.everyWeek {
  position: relative;
  -ms-grid-columns: 12% 1fr 1fr;
  grid-template-columns: 12% 1fr 1fr;
  display: -ms-grid;
  display: grid;
  width: 1320px;
}
.every_p2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  top: -27px;
}
.wrap_everyWeek {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
