@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.eot');
    src: url('../../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Light.woff') format('woff'),
    url('../../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.eot');
    src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Roboto-Regular.woff') format('woff'),
    url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Light';
    src: url('../../fonts/Manrope-Light.eot');
    src: url('../../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Light.woff') format('woff'),
    url('../../fonts/Manrope-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Medium';
    src: url('../../fonts/Manrope-Medium.eot');
    src: url('../../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Medium.woff') format('woff'),
    url('../../fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Bold';
    src: url('../../fonts/Manrope-Bold.eot');
    src: url('../../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Manrope-Bold.woff') format('woff'),
    url('../../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Manrope-Medium';
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.wrap_header{
	position: relative;
	display: grid;
	grid-template-columns:10% 1fr 2fr repeat(5, 1fr) 7%;
	grid-column-gap:35px;
	margin-top:25px;
	justify-items:center;
	align-items:center;
  width: 1320px;
}
.wrapMain_header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header_logo{
	width: 86px;
	height: 25px;
	grid-column:2/3;
}
.nav_header{
	font-weight: 400;
	font-size: 19px;
	line-height: 30px;
	color: #525252;
	font-family: 'Roboto-Regular';
	text-decoration:none;
}
.wrap_cosmeticMasks {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cosmeticMasks{
	margin-top:50px;
  width: 1320px;
	position: relative;
	display: grid;
	grid-template-columns:10% 3fr 5fr 7%;
	grid-template-rows:250px 180px 100px;
	grid-column-gap:35px;
}
.masks_title{
	grid-column:1/3;
	grid-row:1/2;
	font-weight: 600;
	font-size: 40px;
	line-height: 65px;
	color: #242424;
}
.masks_subtitle{
  position: relative;
  top: -22px;
	grid-column:1/3;
	grid-row:2/3;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #000000;
}
#masks_order{
	background: #00C187;
	border: 3px solid #00C187;
	box-sizing: border-box;
	border-radius: 10px;
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #FFFFFF;
	text-decoration:none;
	width: 170px;
	height: 70px;
	grid-column:1/2;
	grid-row:3/4;
	padding:10px 0;
	text-align:center;
	vertical-align: middle;
	margin-top:-21px;
}
#masks_buy{
	font-weight: 400;
	font-size: 22px;
	line-height: 38px;
	color: #000000;
	text-decoration:underline;
	margin-left:230px;
	margin-top:-8px;
	grid-column:1/3;
	grid-row:3/4;
}
#lottie-1 {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  position: relative;
  z-index: -1;
  transition: 0.5s;
  width: 180%;
  left: -141px;
}
.wrap_rosee {
  grid-column: 1 / 4;
  display: flex;
  justify-content: start;
  width: 100%;
}
#header_buy {
  left: 22px;
}
#delivery {
  left: 26px;
}
#inside {
  left: 17px;
}
.every_p {
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
  color: #242424;
  opacity: 0.2;
}
.order_bottom {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    opacity: 0.3;
    border: 3px solid #00c187;
    border-radius: 10px;
    width: 175px;
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    fony-family: 'Manrope';
    top: -20px;
}
.buy_present {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  left: 226px;
  top: -73px;
}
.everyWeek {
  position: relative;
  grid-template-columns: 12% 1fr 1fr;
  display: grid;
  width: 1320px;
}
.every_p2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  color: #000000;
  opacity: 0.2;
  position: relative;
  top: -27px;
}
.wrap_everyWeek {
  width: 100%;
  display: flex;
  justify-content: center;
}
