@media (min-width: 768px) and (max-width: 1101px) {
  .order_title {
     opacity: 0;
   }
   .order_title2 {
     width: 498px;
     position: relative;
     left: -244px;
     top: -40px;
     font-family: 'Manrope-Bold';
   }
   .order {
     width: 920px;
   }
   .order_addition {
     display: none;
   }
   .order_text3 {
     width: 400px;
   }
   .order_text2 {
     margin-top: 35px;
   }
   .wrap_or {
     position: relative;
     height: 64px;
     width: 240px;
     -ms-grid-column: 1;
     -ms-grid-column-span: 1;
     grid-column: 1 / 2;
     left: 244px;
     top: 26px;
     margin-top: 0px;
   }
   .nav_header_order {
     left: 70px !important;
     text-decoration: none;
     font-size: 18px;
     line-height: 29px;
     color: #525252;
     cursor: pointer;
     position: relative;
   }
   .order_spec {
     left: 71px !important;
   }
   #delivery {
     left: 69px;
   }
   .enter_spec {
     left: 89px !important;
   }
}
@media (min-width: 1100px) and (max-width: 1390px) {
  .order_title {
    opacity: 0;
  }
  .order_title2 {
    width: 498px;
    position: relative;
    left: -244px;
    top: -40px;
    font-family: 'Manrope-Bold';
  }
  .order_spec {
    left: -355px !important;
  }
  .order {
    width: 920px;
  }
  .order_addition {
    display: none;
  }
  .order_text3 {
    width: 400px;
  }
  .order_text2 {
    margin-top: 35px;
  }
  .wrap_or {
    position: relative;
    height: 64px;
    width: 240px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    left: 244px;
    top: 26px;
    margin-top: 0px;
  }
  .nav_header_order {
    font-size: 18px;
    line-height: 29px;
    color: #525252;
    cursor: pointer;
    position: relative;
    left: -109px;
    text-decoration: none;
  }
  .user_address {
    position: relative;
    height: 30px;
    top: 30px;
  }
}
